<spinner name="all-projects" group="full-page" on-loaded="init()"></spinner>
<div class="sec--main__head">
    <div class="sec--main__inner">
        <h2 class="main-title">
            <span class="label">All Projects <span>(<span class="qty">{{allProjects.length || '0'}}</span>)</span></span>
        </h2>
    </div>
</div>
 <div class="sec--main__content">
    <section class="subsec">
        <div class="subsec__inner">
            <div class="subsec__content">
                <div class="project-box">
                    <div class="project-box__content">
                        <div class="files-box files-box--projects">
                            <div class="files-box__head">
                                <div class="files-box__number">
                                    <p class="filebox-title">No</p>
                                </div>
                                <div class="files-box__name">
                                    <p class="filebox-title">Project</p>
                                </div>
                                <div class="files-box__status">
                                    <p class="filebox-title">Status</p>
                                </div>
                                <div class="files-box__create-date">
                                    <p class="filebox-title">Date Created</p>
                                </div>
                                <div class="files-box__finish-date">
                                    <p class="filebox-title">Date Finished</p>
                                </div>
                            </div>
                            <div class="files-box__content">
                                <div class="files-box__number">
                                </div>
                                <ol class="files-list">
                                    <li class="files-list__item" ng-repeat="project in allProjects">
                                        <a class="files-list__item__inner" href="#/project/{{project.id}}" inline-project></a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- <pagination class="project-box__actions" service="service"></pagination> -->
                </div>
            </div>
        </div>
    </section>
</div>
