<section class="sec--popup">
    <div class="sec--popup__inner">
        <div class="popup">
            <div class="popup__inner"
            ngf-drop="updateNameValue($file)" ng-model="file"
            ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
            accept="image/*" ngf-pattern="'image/*'">
                <div class="popup__head">
                    <div class="popup__head__title">
                        <h2 class="subtitle highlighted">
                            <span class="label">Edit Template</span>
                        </h2>
                    </div>
                    <div class="popup__head__actions">
                        <a class="trigger-close-popup" aria-label="close popup" ui-sref="projectState">
                            <span class="icon icon--close"></span>
                        </a>
                    </div>
                </div>
                <div class="popup__content">
                    <form class="ticket-form">
                        <fieldset class="form__fieldset">
                            <div class="form__content">
                                <div class="form-box">
                                    <div class="form-box__section">
                                        <div class="form-box__section__head">
                                            <label class="label" for="popup-template-title">Title</label>
                                        </div>
                                        <div class="form-box__section__content">
                                            <div class="form__section">
                                                <div class="field field--input">
                                                    <input class="input input--text" type="text" name="template_name" id="popup-template-title" ng-model="title" value="{{title}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-box">
                                    <div class="form-box__section">
                                        <div class="form-box__section__head">
                                            <label class="label" for="popup-template-img">Image</label>
                                        </div>
                                        <div class="form-box__section__content">
                                            <div class="form__section">
                                                <div class="field field--input">
                                                    <input type="file" name="add_file" class="input input--file" id="popup-template-img"
                                                    placeholder="{{file.name}}"
                                                    ngf-select="updateNameValue($file)" ng-model="file" ngf-multiple="false" ngf-allow-dir="false" accept="image/*" ngf-pattern="'image/*'">
                                                    <div class="input-holder"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-box">
                                    <div class="form-box__section">
                                        <div class="form-box__section__head">
                                            <label class="label" for="popup-comment">Comment</label>
                                        </div>
                                        <div class="form-box__section__content">
                                            <div class="form__section">
                                                <div class="field field--textarea">
                                                    <textarea class="textarea" id="popup-comment" ng-model="comment"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form__actions">
                                <button class="btn btn--submit btn--submit--small" type="submit" ng-click="uploadFiles(file)">
                                    <span class="label">Save</span>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
