<spinner name="my-projects" group="full-page" on-loaded="init()"></spinner>
<div class="sec--main__head">
    <div class="sec--main__inner">
        <h2 class="main-title">
            <span class="label">My Projects</span>
        </h2>
    </div>
</div>
<div class="sec--main__content">
    <section class="subsec">
        <div class="subsec__inner">
            <div class="subsec__content">
                <div class="project-box">
                    <div class="project-box__content">
                        <ul class="teasers-list">
                            <li class="teasers-list__item">
                                <new-project-tile></new-project-tile>
                            </li>
                            <li class="teasers-list__item" ng-repeat="project in myProjects">
                                <project-teaser></project-teaser>
                            </li>
                        </ul>
                    </div>
                    <div class="project-box__actions">
                        <a href="#/all-projects" class="action-btn" style="bottom: 20px; position: fixed; z-index: 20;">
                            <span class="action-btn__content">
                                <span class="label">All projects</span>
                                <span class="icon icon--folder"></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
