<spinner name="new-project" group="full-page" on-loaded="init()"></spinner>
<div class="sec--main__head">
    <div class="sec--main__inner">
        <div class="status-label status-label--done">
            <p class="label">Project created</p>
        </div>
    </div>
</div>
<div class="sec--main__content">
    <section class="subsec">
        <div class="subsec__inner">
            <div class="subsec__head">
                <h2 class="main-title">
                    <span class="label">{{name}}</span>
                </h2>
            </div>
            <div class="subsec__content">
                <div class="project-box">
                    <div class="project-box__content">
                        <ul class="teasers-list teasers-list--alt" ng-class="{'action-teaser--in-progress' : files.length }">
                            <li class="teasers-list__item">
                                <template-uploader></template-uploader>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
