<!-- <spinner name="project-details" group="full-page" on-loaded="init()"></spinner> -->
<div class="sec--main__head">
    <div class="sec--main__inner">
        <div class="project-essential-box">
            <div class="project-essential-box__head">
                <h2 class="page-back">
                    <a href="#/my-projects" class="page-back__content">
                        <span class="icon icon--open-big--left"></span>
                        <span class="main-title">
                            <span class="label">{{ project.name }}</span>
                        </span>
                    </a>
                    <span class="page-back__info">
                        <span class="tooltip">
                            <span class="label">Back to My Projects</span>
                        </span>
                    </span>
                </h2>
            </div>
            <div class="project-essential-box__content">
                <div class="progress-bar-wrapper">
                    <progress class="progress-bar progress-bar--alt" value="{{ project.progress }}" max="100"></progress>
                    <p class="progress-bar-value">
                        <span class="qty">{{project.progress}}</span>
                        <span>%</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sec--main__content">
    <section class="subsec">
        <div class="subsec__inner">
            <div class="subsec__head">
                <h3 class="subtitle">
                    <span class="label">Project Templates</span>
                </h3>
                <ul class="display-mode-list">
                    <li class="display-mode-list__item" ng-class="{active: displayType === 'inline'}">
                        <div class="dispaly-mode">
                            <a ng-click="setDisplayType('inline')" class="dispaly-mode__content">
                                <span class="icon icon--display-mode"></span>
                            </a>
                        </div>
                    </li>
                    <li class="display-mode-list__item" ng-class="{active: displayType === 'grid'}">
                        <div class="dispaly-mode">
                            <a ng-click="setDisplayType('grid')" class="dispaly-mode__content">
                                <span class="icon icon--display-mode--alt"></span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="subsec__content subsec__content--w-spinner">
                <spinner name="templates-listing" group="local"></spinner>
                <templates-listing ng-switch on="displayType" class="project-box"></templates-listing>
            </div>
        </div>
    </section>
    <section class="subsec">
        <div class="subsec__inner">
            <div class="subsec__head">
                <h3 class="subtitle">
                    <span class="label">Project Tickets</span>
                </h3>
            </div>
            <p class="tickets-filter-label" ng-if="tickets.length">Filter by: </p>
            <ul class="tickets-filter" ng-if="tickets.length">
                <li class="tickets-filter__option" ng-class="{active: filteredBy === 'active'}"><a href="#" class="tickets-filter__trigger" ng-click="filterStatus('active', $event)">Active</a></li>
                <li class="tickets-filter__option" ng-class="{active: filteredBy === 'finished' }"><a href="#" class="tickets-filter__trigger" ng-click="filterStatus('finished', $event)">Finished</a></li>
            </ul>
            <div class="subsec__content" project-tickets></div>
        </div>
    </section>
    <section class="subsec">
        <div class="subsec__inner">
            <div class="subsec__head">
                <h3 class="subtitle">
                    <span class="label">Project Files</span>
                </h3>
            </div>
            <div class="subsec__content">
                <spinner name="files-spinner" group="local"></spinner>
                <project-files></project-files>
            </div>
        </div>
    </section>
    <section class="subsec">
        <div class="subsec__inner">
            <div class="subsec__head">
                <h3 class="subtitle">
                    <span class="label">Other informations</span>
                </h3>
            </div>
            <div class="subsec__content">
                <div class="project-box">
                    <div class="project-box__content">
                        <div class="project-time-box">
                            <ul class="project-time-list">
                                <li class="project-time-list__item">
                                    <div class="project-time">
                                        <p class="project-time__head">
                                            <span class="hours">{{project.eta || '-'}}</span>
                                            <span ng-if="project.eta">h</span>
                                        </p>
                                        <p class="project-time__info-add">
                                            ETA
                                        </p>
                                    </div>
                                </li>
                                <li class="project-time-list__item">
                                    <div class="project-time">
                                        <time ng-if="project.created_on"
                                        class="project-time__head" datetime="{{ project.created_on | date:'dd/MM/yyyy' }}">{{ project.created_on | date:'dd/MM/yyyy' }}</time>
                                        <div ng-if="!project.created_on"
                                        class="project-time__head">--/--/----</div>
                                        <p class="project-time__info-add">
                                            Start date
                                        </p>
                                    </div>
                                </li>
                                <li class="project-time-list__item">
                                    <div class="project-time">
                                        <time ng-if="project.suggested_delivery_date"
                                        class="project-time__head" datetime="{{ project.suggested_delivery_date | date:'dd/MM/yyyy' }}">{{ project.suggested_delivery_date | date:'dd/MM/yyyy'}}</time>
                                        <div ng-if="!project.suggested_delivery_date"
                                        class="project-time__head">--/--/----</div>
                                        <p class="project-time__info-add">
                                            Date of delivery
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- place for popups -->
<div ui-view ></div>
