<div class="sec--main__head">
    <div class="sec--main__inner">
        <h2 class="page-back">
            <a ui-sref="projectState({projectId: {{projectId}}, anchor: 'tickets'})" class="page-back__content">
                <span class="icon icon--open-big--left"></span>
                <span class="main-title">
                    <span class="label">Ticket #<span class="ticket-id">{{ticketId}}</span></span>
                </span>
            </a>
            <span class="page-back__info">
                <span class="tooltip">
                    <span class="label">Back to Project details</span>
                </span>
            </span>
        </h2>
    </div>
</div>
<div class="sec--main__content">
    <section class="subsec">
        <div class="subsec__inner">
            <div class="subsec__content">
                <div class="ticket-box">
                    <div class="ticket-box__content">
                        <div class="ticket-description">
                            <p ng-bind-html="ticket.html_description"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subsec__content">
                <div class="ticket-data-box" style="width: 100%;">
                    <div class="ticket-data-box__head">
                        <div class="ticket-data-box__head__row">
                            <p class="ticket-author">
                                <span>Published by: </span>
                                <strong>{{ticket.author.first_name}} {{ticket.author.last_name}}</strong>
                            </p>
                            <p class="ticket-publish-date">
                                <span>on: </span>
                                <time datetime="{{ticket.created_on | date:'dd/MM/yyyy hh:mm:ss'}}+01:00">
                                    <span><strong>{{ticket.created_on | date:'dd/MM/yyyy'}}</strong>, {{ticket.created_on | date: 'hh:mm'}}</span>
                                </time>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="subsec">
        <div class="subsec__inner">
            <div class="subsec__content">
                <div class="ticket-box">
                    <div class="ticket-box__details">
                        <ul class="ticket-details-info-list">
                            <li class="ticket-details-info-list__item">
                                <div class="ticket-details-info">
                                    <div class="ticket-details-info__head">
                                        <span class="icon icon--file--code"></span>
                                        <p class="label">Template:</p>
                                    </div>
                                    <div class="ticket-details-info__content">
                                        <!-- <p class="details" ng-if="ticket.template" ng-repeat="template in ticket.templates"><a ui-sref="projectState({projectId: {{template.template_id}}})" target="_blank">{{template.template.}}</a></p> -->
                                        <a class="details" ng-if="ticket.related_template.name && ticket.related_template.html_url" target="_blank" href="{{ticket.related_template.html_url}}">
                                            {{ticket.related_template.name}}
                                        </a>
                                        <p class="details" ng-if="ticket.related_template.name && !ticket.related_template.html_url">{{ticket.related_template.name}}</p>
                                        <p class="details" ng-if="!ticket.related_template">none</p>
                                        <div>
                                            <a ng-show="ticket.related_template.fullimage_url" href="{{ticket.related_template.fullimage_url}}" class="link" target="_blank">Design</a>
                                            <span ng-show="ticket.related_template.html_url && ticket.related_template.fullimage_url">|</span>
                                            <a ng-show="ticket.related_template.html_url" href="{{ticket.related_template.html_url}}" class="link" target="_blank">HTML</a>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="ticket-details-info-list__item">
                                <div class="ticket-details-info">
                                    <div class="ticket-details-info__head">
                                        <span class="icon icon--chrome"></span>
                                        <p class="label">Browsers:</p>
                                    </div>
                                    <div class="ticket-details-info__content">
                                        <p class="details">{{ticket.browsers || 'none'}}</p>
                                    </div>
                                </div>
                            </li>
                            <li class="ticket-details-info-list__item">
                                <div class="ticket-details-info">
                                    <div class="ticket-details-info__head">
                                        <span class="icon icon--screen"></span>
                                        <p class="label">Screenshot:</p>
                                    </div>
                                    <div class="ticket-details-info__content">
                                        <a class="details" ng-if="ticket.screenshot_url" target="_blank" href="{{ticket.screenshot_url}}">{{ticket.screenshot_url}}</a>
                                        <p class="details" ng-if="!ticket.screenshot_url">none</p>
                                    </div>
                                </div>
                            </li>
                            <li class="ticket-details-info-list__item">
                                <div class="ticket-details-info">
                                    <div class="ticket-details-info__head">
                                        <span class="icon icon--attach"></span>
                                        <p class="label">Attachment:</p>
                                    </div>
                                    <div class="ticket-details-info__content">
                                        <a class="details" ng-if="ticket.attachment" target="_blank" href="{{ticket.attachment}}">{{ticket.attachment}}</a></p>
                                        <p class="details" ng-if="!ticket.attachment">none</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="subsec">
        <div class="subsec__inner">
            <div class="subsec__content">
                <div class="ticket-data-box ticket-box">
                    <div class="ticket-data-box__content">
                        <status-toggler></status-toggler>
                        <div class="ticket-box__actions">
                            <a ui-sref="ticketState.editDetails" class="action-btn action-btn--grey">
                                <span class="action-btn__content">
                                    <span class="label">Edit ticket</span>
                                    <span class="icon icon--pencil"></span>
                                </span>
                            </a>
                            <a ng-click="removeTicket(ticket.id)" class="action-btn action-btn--grey" ng-if="ticket.can_delete">
                                <span class="action-btn__content">
                                    <span class="label">Delete ticket</span>
                                    <span class="icon icon--trash"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="subsec">
        <div class="subsec__inner">
            <div class="subsec__head">
                <div class="subsec__head__box">
                    <h3 class="subtitle">
                        <span class="label">Comments</span>
                    </h3>
                    <div class="comment-box">
                        <div class="comment-box__content" ng-class="{hascomments: comments.length}">
                            <span class="icon icon--comment"></span>
                            <span class="qty">{{comments.length || 0}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subsec__content">
                <div class="comments">
                    <div class="comments__content">
                        <ul class="comments-list">
                            <li class="comments-list__item" ng-repeat="comment in comments | orderBy: 'date'">
                                <div class="comment">
                                    <div class="comment__ico">
                                        <span class="icon icon--comment"></span>
                                    </div>
                                    <div class="comment__info">
                                        <div class="comment__info__data">
                                            <span class="comment-author">
                                                {{comment.user}}
                                            </span>
                                            <time class="comment-date" datetime="{{comment.date}}">{{comment.date | date:'dd-MM-yyyy HH:mm'}}</time>
                                        </div>
                                        <div class="comment__info__content">
                                            <p ng-bind-html="comment.html_content">></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="comments__actions">
                        <form class="ticket-details-comment-form" ng-submit="addComment(comment)">
                            <fieldset class="form__fieldset">
                                <div class="form__content">
                                    <div class="form-box">
                                        <div class="form-box__section">
                                            <div class="form-box__section__head">
                                                <label class="label" for="popup-description">Add comment</label>
                                            </div>
                                            <div class="form-box__section__content">
                                                <div class="form__section form__section--ticket" ng-class="{'error-message': submitted && (!comment || !comment.content.length)}">
                                                    <div class="field field--textarea">
                                                        <textarea class="textarea" id="popup-description" ng-model="comment.content" required ng-required></textarea>
                                                    </div>
                                                    <div class="form-info required" ng-class="{'hidden': !submitted || (comment && comment.content.length)}">
                                                        <p>This field is required</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__actions">
                                    <button class="btn btn--submit btn--submit--small" ng-disabled="processing">
                                        <span class="label">Add comment</span>
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- place for popups -->
<div ui-view></div>
