<header class="sec--head" ng-class="scrollClass">
    <div class="sec--head__inner">
        <div class="sec--head__box">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <h1 class="breadcrumb">
                        <a href="#/" class="breadcrumb__content">
                           Frontend<span class="highlighted">App</span>
                        </a>
                    </h1>
                </li>
                <li class="breadcrumbs__item" ng-repeat="trail in trails">
                    <h3 class="breadcrumb">
                        <a href="{{ trail.link }}" class="breadcrumb__content">
                           {{ trail.name }}
                        </a>
                    </h3>
                </li>
                <li class="breadcrumbs__item">
                    <h3 class="breadcrumb">
                        <span class="breadcrumb__content">
                            {{ pageName }}
                        </span>
                    </h3>
                </li>
            </ul>
        </div>
        <div class="sec--head__box" ng-if="module === 'panel'" class="menu" off-click="hideMenu()" off-click-if="menuVisible">
            <div class="user-box" ng-class="{active: menuVisible}">
                <span class="user-box__content js-trigger-user-box" aria-label="open user tool box" ng-click="toggleMenu()">
                    <span class="user-btn">
                        <span class="label">D</span>
                    </span>
                    <span class="icon icon--down-micro"></span>
                </span>
                <div class="user-box__actions">
                    <div class="cloud-tooltip">
                        <div class="cloud-tooltip__icon">
                            <span class="icon icon--angle--up"></span>
                        </div>
                        <div class="cloud-tooltip__content">
                            <ul class="cloud-tooltip-list">
                                <li class="cloud-tooltip-list__item">
                                    <a href="#/my-projects" ng-click="hideMenu()">My Projects</a>
                                </li>
                                <li class="cloud-tooltip-list__item">
                                    <a href="#/all-projects" ng-click="hideMenu()">All Projects</a>
                                </li>
                                <li class="cloud-tooltip-list__item">
                                    <a href="#!">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
