<form class="form-register forms__content__item" id="form-register">
    <div class="form-register__fieldset fields">
        <input type="text" class="fields__field" placeholder="Username" name="username01" id="username01"/>
        <input type="text" class="fields__field" placeholder="E-mail" name="email01" id="email01"/>
        <input type="password" class="fields__field" placeholder="Password" name="password01" id="password01"/>
        <input type="password" class="fields__field" placeholder="Re-password" name="repassword01" id="repassword01"/>
    </div>
    <button class="form-register__button">Submit</button>
</form>
