<div class="files-list__item__counter">
</div>
<div class="files-list__item__content">
    <div class="file-data file-data--project">
        <div class="file-data__inner">
            <div class="file-data__name">
                <h4 class="project-title">
                    <span class="label">{{ project.name }}</span>
                </h4>
            </div>
            <div class="file-data__status">
                <div class="status-label status-label--{{projectStatus.className}}">
                    <p class="label">{{ projectStatus.labelContent }}</p>
                </div>
            </div>
            <div class="file-data__create-date">
                <time ng-if="project.created_on"
                class="file-date" datetime="{{project.created_on | date:'dd/MM/yyyy hh:mm'}}">{{project.created_on | date:'dd/MM/yyyy'}}</time>
                <div ng-if="!project.created_on"
                class="file-date">--/--/----</div>
            </div>
            <div class="file-data__finish-date">
                <time ng-if="project.finished_date"
                class="file-date" datetime="{{project.finished_date | date:'dd/MM/yyyy hh:mm'}}">{{project.finished_date | date:'dd/MM/yyyy'}}</time>
                <div ng-if="!project.finished_date"
                class="file-date">--/--/----</div>
            </div>
        </div>
    </div>
</div>
