<div class="form-holder">
    <form class="form-login forms__content__item" id="form-login" name="form-login" ng-submit="submitForm()">
        <div class="form-login__fieldset fields">
            <input type="text" class="fields__field" placeholder="E-mail" name="email02" id="email02"/>
            <input type="password" class="fields__field" placeholder="Password" name="password02" id="password02"/>
        </div>
        <button type="submit" class="form-login__button">Submit</button>
    </form>
</div>
