/* ==========================================================================
   Forms
   ========================================================================== */
%helper--form {
    fieldset {
        margin: 0;
        padding: 0;

        border: 0;
    }
    input,
    textarea {
        border-radius: 0;

        -webkit-appearance: none;
        &:focus {
            outline: none;
        }
    }
    *::-ms-clear {
        display: none;
    }
}

/* Custom checkboxes
   ========================================================================== */
.icheckbox {
    width: $size_checkbox;
    height: $size_checkbox;

    cursor: pointer;

    border: 1px solid #9a9a9a;
    border-radius: 2px;
    background: $color_white;

    @extend %helper--transition;
    &:before {
        width: 100%;
        height: 100%;

        font-family: $font_ico;
        font-size: 14px;

        content: '\e827';

        opacity: 0;
        color: $color_red_dark;

        @extend %helper--transition;
        @extend %helper--absolute--center--center;
        @extend %helper--flex--center--center;
    }
    &.checked {
        position: relative;

        border-color: $color_red_dark;
        background: linear-gradient(to bottom, #e32c49 0%,#d4213e 100%);
        &:before {
            opacity: 1;
            color: $color_white;
        }
    }
}

.icheckbox {
    @include breakpoint($breakpoint_tablet) {
        width: $size_checkbox_small;
        height: $size_checkbox_small;
        &:before {
            font-size: 10px;
        }
    }
    @include breakpoint($breakpoint_smartphone) {
        width: $size_checkbox_mini;
        height: $size_checkbox_mini;
    }
}

/* Custom selects
   ========================================================================== */
.hasCustomSelect {
    z-index: 2;

    width: $size_input_h;
    height: $size_input_v;
}
.hasCustomSelect {
    @include breakpoint($breakpoint_smartphone) {
        width: 100%;
    }
}
.customSelect {
    z-index: 1;

    display: flex !important;
    overflow: hidden;

    width: 100%;
    height: $size_input_v;
    padding: 0 $size_acces-tool_h 0 $size_padding;

    white-space: nowrap;
    text-overflow: ellipsis;

    border: 1px solid $color_grey_0;

    @extend %helper--flex--left--center;
    &:after {
        position: absolute;
        top: 0;
        right: 0;

        width: $size_acces-tool_h;
        height: 100%;
        margin: auto 0;

        font-family: $font_ico;
        font-size: 12px;

        content: '\e81f';

        color: $color_red_dark;
        border: 1px solid $color_grey_0;
        border-left: none;
        background: #f9f9f9;

        @extend %helper--flex--center--center;
    }
}

.customSelectInner {
    overflow: hidden;

    max-width: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;
}


/* Access form
   ========================================================================== */
// Access form
//
// .access-form - access form
//
// Markup:
// <form class="access-form">
//     <fieldset class="form__fieldset">
//         <div class="form__content">
//             <div class="form__section">
//                 <div class="field field--input">
//                     <input class="input input--text" type="text" placeholder="USERNAME" name="username" id="field_01">
//                 </div>
//             <div class="field field--info">
//                     <div class="form-info required">
//                         <p>This field is required</p>
//                     </div>
//                 </div>
//             </div>
//             <div class="form__section">
//                 <div class="field field--input">
//                     <input class="input input--text" type="email" placeholder="E-MAIL" name="e-mail" id="field_02">
//                 </div>
//             <div class="field field--info">
//                     <div class="form-info required">
//                         <p>This field is required</p>
//                     </div>
//                 </div>
//             </div>
//             <div class="form__section">
//                 <div class="field field--input">
//                     <input class="input input--text" type="password" placeholder="PASSWORD" name="password" id="field_03">
//                 </div>
//             <div class="field field--info">
//                     <div class="form-info required">
//                         <p>This field is required</p>
//                     </div>
//                 </div>
//             </div>
//             <div class="form__section">
//                 <div class="field field--input">
//                     <input class="input input--text" type="password" placeholder="RE-PASSWORD" name="re-password" id="field_04">
//                 </div>
//             <div class="field field--info">
//                     <div class="form-info required">
//                         <p>This field is required</p>
//                     </div>
//                 </div>
//             </div>
//         </div>
//         <div class="form__actions">
//             <div class="form__section">
//                 <button type="submit" class="btn btn--submit">
//                     <span class="label">Submit</span>
//                 </button>
//                 <div class="field field--info">
//                     <div class="form-info required">
//                         <p>Login or password is incorrect</p>
//                     </div>
//                 </div>
//             </div>
//         </div>
//     </fieldset>
// </form>
//
// Styleguide 21.4

// Access form
//
// .access-form - access form
//
// Markup:
// <form class="access-form">
//     <fieldset class="form__fieldset">
//         <div class="form__content">
//             <div class="form__section error-message">
//                 <div class="field field--input">
//                     <input class="input input--text" type="text" placeholder="USERNAME" name="username" id="field_01">
//                 </div>
//             <div class="field field--info">
//                     <div class="form-info required">
//                         <p>This field is required</p>
//                     </div>
//                 </div>
//             </div>
//             <div class="form__section error-message">
//                 <div class="field field--input">
//                     <input class="input input--text" type="email" placeholder="E-MAIL" name="e-mail" id="field_02">
//                 </div>
//             <div class="field field--info">
//                     <div class="form-info required">
//                         <p>This field is required</p>
//                     </div>
//                 </div>
//             </div>
//             <div class="form__section error-message">
//                 <div class="field field--input">
//                     <input class="input input--text" type="password" placeholder="PASSWORD" name="password" id="field_03">
//                 </div>
//             <div class="field field--info">
//                     <div class="form-info required">
//                         <p>This field is required</p>
//                     </div>
//                 </div>
//             </div>
//             <div class="form__section error-message">
//                 <div class="field field--input">
//                     <input class="input input--text" type="password" placeholder="RE-PASSWORD" name="re-password" id="field_04">
//                 </div>
//             <div class="field field--info">
//                     <div class="form-info required">
//                         <p>This field is required</p>
//                     </div>
//                 </div>
//             </div>
//         </div>
//         <div class="form__actions">
//             <div class="form__section error-message">
//                 <button type="submit" class="btn btn--submit">
//                     <span class="label">Submit</span>
//                 </button>
//                 <div class="field field--info">
//                     <div class="form-info required">
//                         <p>Login or password is incorrect</p>
//                     </div>
//                 </div>
//             </div>
//         </div>
//     </fieldset>
// </form>
//
// Styleguide 21.5

.access-form {
    width: $size_input_h;

    @extend %helper--form;
    ::-webkit-input-placeholder {
        font-weight: 500;
        // color: $color_black;
    }
    :-moz-placeholder {
        font-weight: 500;
        /* Firefox 18- */
        // color: $color_black;
    }
    ::-moz-placeholder {
        font-weight: 500;
        /* Firefox 19+ */
        // color: $color_black;
    }
    :-ms-input-placeholder {
        font-weight: 500;
        // color: $color_black;
    }
    .form {
        &__section {
            width: 100%;
            .field + .field--info,
            .btn + .field--info {
                margin-top: 0;

                opacity: 0;
                .form-info {
                    height: 0;
                }
            }
            .field:not(.field--info):not(.field--cta) {
                border: 1px solid transparent;
            }
            &.error-message {
                .field + .field--info,
                .btn + .field--info {
                    margin-top: $size_padding;

                    opacity: 1;
                    .form-info {
                        height: $size_padding;
                    }
                }
                .field:not(.field--info):not(.field--cta) {
                    border: 1px solid $color_red;
                }
            }
        }
        &__content {
            @extend %helper--flex--center--top;
            flex-wrap: wrap;
            .field {
                width: 100%;

                @extend %helper--transition;
                .input {
                    width: 100%;
                    height: $size_input_v;
                    padding: 0 $size_padding;

                    font-size: 14px;
                    font-weight: 500;

                    color: $color_black;
                    border: none;
                    border: 1px solid $color_grey_1;
                    background: $color_grey_1;
                    ::-webkit-input-placeholder,
                    input:-moz-placeholder {
                        color: red;
                    }
                    &:focus {
                        border-color: $color_grey_3;
                        box-shadow: 0 0 15px 1px rgba(0, 0, 0, .1) inset;
                    }
                }
            }
        }
        &__actions {
            flex-wrap: wrap;
            @extend %helper--flex--center--top;
            .btn {
                width: 100%;
            }
            .field {
                &--cta {
                    @extend %helper--flex--right--top;
                }
            }
        }
    }
    .form__content + .form__actions {
        margin-top: $size_padding;
    }
    .field + .field,
    .form__section + .form__section,
    .btn + .field {
        margin-top: $size_padding;
    }
    .field + .field--cta,
    .btn + .field--cta {
        margin-top: calc(#{$size_padding} * 2);
    }
}

.access-form {
    @include breakpoint($breakpoint_smartphone) {
        width: 100%;
        .btn--submit {
            width: 100%;
        }
        .form {
            &__content {
                .field {
                    .input {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

/* project-action-form
   ========================================================================== */
// Project-action form
//
//
// Styleguide 14

// Project-action form
//
// .project-action-form - project-action form
// .active - project-action form active (class 'active' is added by JS)
//
// Markup:
// <form class="project-action-form {{modifier_class}}">
//     <fieldset class="form__fieldset">
//         <div class="field field--input">
//             <label class="label" for="project-name">New Project</label>
//             <input class="input input--text" type="text" placeholder="Project Name" name="project-name" id="project-name">
//         </div>
//     </fieldset>
// </form>
//
// Styleguide 14.1

.project-action-form {
    width: 100%;

    @extend %helper--form;
    .NFI-button {
        color: #adadad;
    }
    .form {
        &__fieldset {
            position: relative;

            height: 100%;

            background: $color_white;
            .NFI-wrapper {
                z-index: -1;

                display: flex !important;
                overflow: hidden !important;

                box-sizing: border-box;
                padding-top: 1px;

                cursor: pointer;

                opacity: 0;
                // background: aqua;

                @extend %helper--transition;
                @extend %helper--absolute--center--center;
                flex-wrap: wrap;
                align-items: flex-start;
                align-content: flex-start;
                justify-content: center;
            }
            .NFI-filename {
                display: none !important;
            }
            .field {
                height: 100%;
                .input {
                    &--text {
                        opacity: 0;

                        @extend %helper--absolute--center-horizontal--vertical-to-top;
                    }
                }
            }
            .field,
            .NFI-wrapper {
                .label,
                .input,
                .NFI-button {
                    width: 100%;

                    font-size: 20px;
                    font-weight: 300;

                    transition: 300ms ease;
                    text-align: center;

                    border: none;
                }
                .label {
                    position: relative;
                    z-index: 1;

                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding-bottom: 0;

                    @extend %helper--transition;
                    @extend %helper--flex--center--center;
                    &:before {
                        top: -$size_teaser_h;
                        right: 0;
                        left: 0;

                        width: 100%;
                        height: $size_teaser_h;
                        margin: 0 auto;

                        @extend %helper--after--absolute;
                    }
                }
            }
        }
    }
    &.active {
        .form {
            &__fieldset {
                background: transparent;
                .NFI-wrapper {
                    z-index: 2;

                    padding-top: 65px;

                    opacity: 1;
                }
                .field {
                    .label {
                        padding-bottom: 40px;

                        font-size: 16px;

                        color: $color_red;
                    }
                    .input {
                        &--text {
                            top: 65px;

                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

// .project-action-form {
//     width: 100%;
//     height: $size_input_v;

//     @extend %helper--form;
//     @extend %helper--flex--vertical-space-between;
//     justify-content: center;
//     .NFI-filename {
//         display: none !important;
//     }
//     .NFI-button {
//         display: flex !important;

//         color: #adadad;

//         @extend %helper--flex--center--center;
//         input {
//             height: auto !important;
//         }
//     }
//     .form {
//         &__fieldset {
//             width: 100%;
//             .NFI-wrapper {
//                 z-index: 10;

//                 overflow: hidden !important;

//                 cursor: pointer;
//             }
//             .field,
//             .NFI-wrapper {
//                 position: relative;

//                 width: 100%;
//                 .label,
//                 .input,
//                 .NFI-button {
//                     width: 100%;

//                     font-size: 20px;
//                     font-weight: 300;

//                     transition: 300ms ease;
//                     text-align: center;
//                 }
//                 .label {
//                     z-index: 9;

//                     margin: 0;

//                     @extend %helper--absolute--center--center;
//                     @extend %helper--flex--center--center;
//                 }
//                 .input,
//                 .NFI-button {
//                     position: relative;
//                     z-index: -1;

//                     height: $size_input_v;
//                     margin-top: 0;
//                     padding: 0 $size_padding;

//                     pointer-events: none;

//                     opacity: 0;
//                     border: none;
//                 }
//             }
//         }
//     }
//     &.active {
//         .form {
//             &__fieldset {
//                 .field {
//                     .label {
//                         top: -60px;

//                         font-size: 16px;

//                         color: $color_red;
//                     }
//                     .input,
//                     .NFI-button {
//                         z-index: 2;

//                         pointer-events: auto;

//                         opacity: 1;
//                     }
//                     .input {
//                         margin-top: 20px;
//                     }
//                 }
//             }
//         }
//     }
// }

/* ticket-form
   ========================================================================== */
.form-box {
    @extend %helper--flex--left--center;
    &__section {
        flex-grow: 1;
        &__head + &__content {
            margin-top: $size_padding;
        }
    }
    &--double {
        .form-box {
            &__section {
                &:first-of-type {
                    flex-grow: 0;
                }
                &:last-of-type {
                    max-width: calc(100% - #{$size_input_h} - #{$size_padding_medium});
                    margin-left: $size_padding_medium;
                }
            }
        }
    }
}
.form-box {
    @include breakpoint($breakpoint_smartphone) {
        &--double {
            flex-wrap: wrap;
            .form-box {
                &__section {
                    &:first-of-type,
                    &:first-of-type {
                        width: 100%;
                    }
                    &:last-of-type {
                        max-width: 100%;
                        margin-top: $size_padding_medium;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
.checkboxes-list {
    margin-right: -$size_padding;

    @extend %helper--list;
    @extend %helper--flex--left--center;
    &__item {
        margin-right: $size_padding;
    }
    .field {
        @extend %helper--flex--left--center;
        .label {
            margin-right: 10px;

            order: -1;
        }
    }
}

.ticket-form,
.ticket-details-comment-form {
    @extend %helper--form;
    .label {
        font-size: 14px;
        font-weight: 600;

        text-transform: uppercase;
    }
    .form {
        &__fieldset {
            width: 100%;
            .NFI-wrapper {
                display: flex !important;
                .NFI-filename {
                    padding: 0;
                    padding: 0 $size_padding !important;

                    border: none;
                    border: 1px solid $color_grey_0;
                    border-right: none;

                    order: 1;
                    flex-grow: 1;
                }
                .NFI-button {
                    position: relative;

                    display: flex !important;
                    overflow: visible !important;

                    width: calc(#{$size_input_h} / 2);

                    font-size: 14px;
                    font-weight: 500;

                    text-align: center;
                    text-transform: uppercase;

                    color: $color_white;
                    background: $color_red;

                    flex-shrink: 0;
                    @extend %helper--flex--center--center;
                    order: 2;
                    .NFI-current {
                        width: calc(#{$size_inner} - #{$size_padding_medium} - #{$size_padding_medium});
                        height: $size_input_v !important;
                    }
                }
            }
            .field {
                position: relative;
                &--select {
                    width: $size_input_h;
                }
                .input--text,
                .input--url,
                .textarea {
                    width: 100%;

                    border: 1px solid $color_grey_0;
                }
                .input {
                    height: $size_input_v;
                    &--text,
                    &--url {
                        padding: 0 $size_padding;
                    }
                    &.NFI-wrapper {
                        padding: 0;

                        border: none;
                    }
                }
                .textarea {
                    height: calc(#{$size_input_v} * 4);
                    padding: $size_padding;
                }
                .label {
                    &--special {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;

                        width: calc(#{$size_input_h} / 2);
                        margin: auto 0;

                        font-size: 14px;
                        font-weight: 500;

                        text-align: center;
                        text-transform: uppercase;

                        color: $color_white;

                        @extend %helper--flex--center--center;
                    }
                }
            }
        }
        &__actions {
            @extend %helper--flex--left--center;
        }
    }
}
.ticket-form {
    .form-box + .form-box,
    .form__content + .form__actions {
        margin-top: $size_padding_medium;
    }
}
.ticket-details-comment-form {
    .form {
        &__fieldset {
            .field {
                .textarea {
                    height: calc(#{$size_input_v} * 6);

                    resize: vertical;
                }
            }
        }
    }
    .form-box__section__head + .form-box__section__content {
        margin-top: 30px;
    }
    .form__content + .form__actions {
        margin-top: $size_btn_v;
    }
}

.ticket-form {
    @include breakpoint($breakpoint_smartphone) {
        .form {
            &__fieldset {
                .NFI-wrapper {
                    .NFI-button {
                        max-width: 48%;
                        .NFI-current {
                            width: calc(100vw - #{$size_padding} * 4);
                        }
                    }
                }
                .field {
                    &--select {
                        width: 100%;
                    }
                }
            }
        }
    }
    @include breakpoint($breakpoint_smartphone-mini-special) {
        .form {
            &__fieldset {
                .NFI-wrapper {
                    .NFI-button {
                        width: 40%;
                    }
                }
            }
        }
    }
}








//
