/* ==========================================================================
   Layouts
   ========================================================================== */
body.blocked {
    overflow: hidden;
    .popup {
        position: fixed;
        top: $size_padding_big;
        right: 0;
        left: 0;

        margin: 0 auto;
    }
}

body.blocked {
    @include breakpoint($breakpoint_smartphone) {
        .popup {
            top: 20px;
        }
    }
}

.register,
.login {
    background: url('../img/pic_bg-3.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.sec--head,
.sec--main,
.sec--popup,
.subsec {
    @extend %helper--sec;
    &__inner {
        @extend %helper--inner;
    }
}

.sec--head {
    position: fixed;
    z-index: 20;
    right: 0;
    left: 0;

    height: $size_header_v;

    opacity: 1;

    @extend %helper--transition;
    &__inner {
        max-width: $size_inner;
        height: 100%;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;

        @extend %helper--transition;
        @extend %helper--flex--space-between--center;
    }
    &__box {
        @extend %helper--flex--left--center;
        flex-grow: 1;
        & + .sec--head__box {
            justify-content: flex-end;
        }
    }
    &.small {
        height: $size_margin_big;

        border-bottom: 1px solid $color_grey_0;
        background: rgba(255,255,255,.9);
        &.hidden {
            opacity: 0;
            .sec--head {
                &__inner {
                    margin-top: -$size_margin_big;
                }
            }
        }
    }
}

.sec--main {
    margin-top: $size_header_v;
    margin-bottom: 150px;
    &__inner {
        position: relative;

        @extend %helper--flex--center--center;
        .project-essential-box {
            width: 100%;
        }
        .action-btn {
            height: 44px;

            @extend %helper--absolute--center-vertical--horizontal-to-right;
        }
    }
    &__head,
    &__content {
        @extend %helper--sec;
    }
    &__content {
        .access-box {
            margin-top: $size_margin_big;
        }
        .ticket-box,
        .comments {
            width: 100%;
        }
    }
    .subsec {
        &:last-of-type {
            .subsec__inner {
                padding-bottom: 0;
            }
        }
    }
    .sec--main__head + .sec--main__content {
        .access-box {
            margin-top: 0;
        }
    }
    &.blocked {
        overflow: hidden;
    }
}
.sec--main {
    @include breakpoint($breakpoint_smartphone) {
        margin-bottom: 100px;
        &__content {
            .access-box {
                margin-top: 5px;
            }
        }
    }
}

.subsec {
    &__head {
        @extend %helper--flex--space-between--center;
        .subtitle,
        .main-title {
            flex-grow: 1;
        }
        .main-title {
            margin-bottom: 30px;
        }
        .display-mode-list {
            margin-right: -$size_padding_display-mode;
            &__item {
                &:last-child {
                    .dispaly-mode-box {
                        &__info {
                            right: 0; //ie
                            // right: 0;
                            // left: auto;
                            left: -149%; //ie
                            .tooltip {
                                &:before {
                                    right: calc(#{$size_acces-tool_h} / 5);
                                    left: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__box {
            @extend %helper--flex--left--center;
            .subtitle + .comment-box {
                margin-left: 10px;
            }
        }
    }
    &__content {
        @extend %helper--flex--center--top;
        .project-box,
        .ticket-data-box {
            width: 100%;
        }
        .files-box {
            margin-top: -18px;
        }
        &--w-spinner {
            position: relative;
        }
    }
    .subsec__head + .subsec__content {
        margin-top: $size_padding_big;
    }
}
.subsec {
    @include breakpoint($breakpoint_tablet) {
        &__head {
            flex-wrap: wrap;
            justify-content: center;
            .main-title {
                margin-bottom: 34px;
            }
            .subtitle,
            .display-mode-list {
                width: 100%;
            }
            .display-mode-list {
                justify-content: center;
                &__item {
                    &:last-child {
                        .dispaly-mode-box {
                            &__info {
                                right: -50%;
                                left: -50%;
                                .tooltip {
                                    &:before {
                                        right: 0;
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .subtitle + .display-mode-list {
                margin-top: $size_padding;
            }
        }
        &__content {
            .comments {
                margin-top: 2px;
            }
        }
        .subsec__head + .subsec__content {
            margin-top: $size_padding_medium;
        }
    }
    @include breakpoint($breakpoint_smartphone) {
        .main-title {
            margin-bottom: 25px;
        }
        .subsec__head + .subsec__content {
            margin-top: $size_padding;
        }
    }
}

.sec--popup {
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    min-height: 100%;

    background: rgba(0,0,0,.8);

    @extend %helper--flex--stretch;
    &__inner {
        @extend %helper--flex--center--center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
