/* ==========================================================================
   Variables: colors, sizes, fonts
   ========================================================================== */

/* Colors
========================================================================== */
$color_default:     #404040;

$color_white:               #fff;
$color_grey_0:              #e5e5e5;
$color_grey_1:              #d5d5d5;
$color_grey_2:              #c4c4c4;
$color_grey_3:              #b2b2b2;
$color_grey_4:              #7f7f7f;
$color_grey_5:              #121212;
$color_grey_6:              #A0A0A0;
$color_black:               #000;
$color_red_dark:            #d64650;
$color_red:                 #e65962;
$color_green:               #6dc729;
$color_blue:                #4f7dc1;
$color_purple:              #a96dbc;

/* Sizes
========================================================================== */
$size_inner:        						1025px;

$size_header_v:								74px;

$size_margin_big:							50px;

$size_padding_big:							30px;
$size_padding_medium:						25px;
$size_padding:								15px;
$size_padding_small:						12px;

$size_padding_display-mode:					8px;

$size_acces-tool_h:							40px;
$size_acces-tool_v:							35px;

$size_comment-box:							40px;

$size_action-tool_v:						52px;

$size_tooltip_line-height:					5px;

$size_input_h:								330px;
$size_input_v:								48px;

$size_btn_v:								44px;

$size_file-data-big_v:						65px;

$size_teaser_h:								245px;
$size_teaser_v:								378px;

$size_checkbox:								20px;
$size_checkbox_small:						15px;
$size_checkbox_mini:						13px;

// $size_filename_uploaded-date_h:				165px;
$size_filename_uploaded-date_h:				140px;
$size_filename_size_h:						135px;
$size_filename_status_h:					120px;
$size_filename_actions-big_h:				284px;
$size_filename_actions_h:					101px;
$size_filename_extention_h:					80px;
$size_filename_id:							54px;




/* Breakpoints
========================================================================== */
$breakpoint_tablet:                     max-width 1100px;
$breakpoint_tablet-special-0:             				max-width 938px;
$breakpoint_tablet-special:             		max-width 913px;
$breakpoint_tablet-mini:        				max-width 860px;
$breakpoint_smartphone-big:         			max-width 825px;
$breakpoint_smartphone:         				max-width 767px;
$breakpoint_smartphone-special:     			max-width 728px;
$breakpoint_smartphone-special-alt-0:     		max-width 708px;
$breakpoint_smartphone-special-alt:     		max-width 700px;
$breakpoint_smartphone-medium:     				max-width 540px;
$breakpoint_smartphone-mini-special:    		max-width 400px;
$breakpoint_smartphone-mini:    				max-width 375px;

/* Fonts
========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic,100&subset=latin,latin-ext);
$font_normal:       'Roboto', Arial, sans-serif;
$font_ico:       	'fontello';
