<div class="project-box" ng-if="tickets.length">
    <div class="project-box__content">
        <div class="files-box files-box--tickets">
            <div class="files-box__head">
                <div class="files-box__id files-box__sortable" ng-click="order('id');" ng-class="{asc: reverse && ticketsOrderBy === 'id', desc: !reverse && ticketsOrderBy === 'id'}">
                    <p class="filebox-title">Id</p>
                </div>
                <div class="files-box__name files-box__sortable" ng-click="order('description');" ng-class="{asc: reverse && ticketsOrderBy === 'description', desc: !reverse && ticketsOrderBy === 'description'}">
                    <p class="filebox-title">Short ticket description</p>
                </div>
                <div class="files-box__status files-box__sortable" ng-click="order('status');" ng-class="{asc: reverse && ticketsOrderBy === 'status', desc: !reverse && ticketsOrderBy === 'status'}">
                    <p class="filebox-title">Status</p>
                </div>
                <div class="files-box__comments files-box__sortable" ng-click="order('comments_count');" ng-class="{asc: reverse && ticketsOrderBy === 'comments_count', desc: !reverse && ticketsOrderBy === 'comments_count'}">
                    <p class="filebox-title">Comments</p>
                </div>
                <div class="files-box__ticket-date files-box__sortable" ng-click="order('created_on');" ng-class="{asc: reverse && ticketsOrderBy === 'created_on', desc: !reverse && ticketsOrderBy === 'created_on'}">
                    <p class="filebox-title">Date</p>
                </div>
            </div>
            <div class="files-box__content">
                <div class="files-box__number">
                </div>
                <ol class="files-list">
                    <li class="files-list__item repeat-animation" inline-ticket ng-repeat="ticket in tickets | orderBy: ticketsOrderBy:reverse | status:filteredBy"></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="project-box__actions" ng-if="(ticketsLeft > 0)">
        <a ng-click="loadRemainingTickets()" class="action-btn js-rotate">
            <span class="action-btn__content">
                <span class="label"><span class="qty">{{ ticketsLeft }}</span> more tickets</span>
                <span class="icon icon--reload"></span>
            </span>
        </a>
    </div>
</div>


<projects-placeholder placeholding="tickets" icon="box" ng-if="!tickets.length">
