<main class="sec--main">
    <div class="sec--main__head">
        <div class="sec--main__inner">
            <h2 class="main-title">
                <span class="label">All Projects (<span class="qty">1</span>)</span>
            </h2>
        </div>
    </div>
     <div class="sec--main__content">
        <section class="subsec">
            <div class="subsec__inner">
                <div class="subsec__content">
                    <div class="project-box">
                        <div class="project-box__content">
                            <div class="files-box files-box--projects">
                                <div class="files-box__head">
                                    <div class="files-box__number">
                                        <p class="filebox-title">No</p>
                                    </div>
                                    <div class="files-box__name">
                                        <p class="filebox-title">Project</p>
                                    </div>
                                    <div class="files-box__status">
                                        <p class="filebox-title">Status</p>
                                    </div>
                                    <div class="files-box__create-date">
                                        <p class="filebox-title">Date Created</p>
                                    </div>
                                    <div class="files-box__finish-date">
                                        <p class="filebox-title">Date Finished</p>
                                    </div>
                                </div>
                                <div class="files-box__content">
                                    <div class="files-box__number">
                                    </div>
                                    <ol class="files-list">
                                        <li class="files-list__item" ng-repeat="project in allProjects">
                                            <a class="files-list__item__inner" href="project-details.html" inline-project></a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="project-box__actions">
                            <div class="pagination-box">
                                <div class="pagination pagination--prev">
                                    <a href="#" class="pagination__content">
                                        <span class="icon icon--open-big--left"></span>
                                    </a>
                                </div>
                                <ol class="pagination-list">
                                    <li class="pagination-list__item">
                                        <div class="pagination">
                                            <a href="#" class="pagination__content">
                                                <span class="counter"></span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="pagination-list__item">
                                        <div class="pagination">
                                            <a href="#" class="pagination__content">
                                                <span class="counter"></span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="pagination-list__item">
                                        <div class="pagination">
                                            <a href="#" class="pagination__content">
                                                <span class="counter"></span>
                                            </a>
                                        </div>
                                    </li>
                                </ol>
                                <div class="pagination pagination--next">
                                    <a href="#" class="pagination__content">
                                        <span class="icon icon--open-big--right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
