
<main class="sec-content">
     <div class="sec-content__inner">
         <div class="projects-list">
             <h1 class="projects-list__title sec-title">My Projects</h1>
             <ul class="projects-list__projects">
                 <li class="projects-list__projects__project project project--add">
                     <div class="project--add__background">
                         <span class="project--add__background__icon"></span>
                     </div>
                     <div class="project--add__details">
                         <form class="form-new-project">
                             <label for="new-project-01" class="project--add__details__name">New Project</label>
                             <input type="text" placeholder="Project name" name="new-project-01" id="new-project-01" class="project--add__details__new"/>
                         </form>
                     </div>
                 </li>
                 <li class="projects-list__projects__project project project__my-proj{{$index}}"
                     ng-repeat="project in myProjects">

                     <a href="#/project/{{project.id}}">
                        <div class="project__background" style="background-image: url('{{project.templates[0].image}}')"> <!-- how should I link backgroud for this? -->
                        </div>
                        <div class="project__details">
                             <p class="project__details__time">Updated: {{ project.dateAdded | date:'dd.MM.yyyy' }}</p>
                             <span class="project__details__progress progress-bar" ng-class="{complete: (project.status == 'complete')}">
                                 <span class="project__details__progress__value progress-bar__value" data-progress-value="{{project.projectProgress}}" style="width: {{project.projectProgress}}%"></span>
                             </span>
                             <h2 class="project__details__name">{{project.fileName}}</h2>
                             <p class="project__details__summary">{{project.templates.length}} templates</p>
                         </div>
                     </a>
                 </li>
             </ul>
             <a class="projects-list__button" href="allprojects.html">All Projects</a>
         </div>
     </div>
 </main>
