<main class="sec--main">
    <div class="sec--main__head">
        <div class="sec--main__inner">
            <h2 class="main-title">
                <span class="label">My Projects</span>
            </h2>
        </div>
    </div>
    <div class="sec--main__content">
        <section class="subsec">
            <div class="subsec__inner">
                <div class="subsec__content">
                    <div class="project-box">
                        <div class="project-box__content">
                            <ul class="teasers-list">
                                <li class="teasers-list__item">
                                    <div class="teaser action-teaser js-teaser">
                                        <div class="teaser__inner">
                                            <div class="teaser__head">
                                                <span class="icon icon--plus"></span>
                                            </div>
                                            <div class="teaser__content">
                                                <form class="project-action-form">
                                                    <fieldset class="form__fieldset">
                                                        <div class="field field--input">
                                                            <label class="label" for="project-name">New Project</label>
                                                            <input class="input input--text" type="text" placeholder="Project Name" name="project-name" id="project-name">
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="teasers-list__item" ng-repeat="project in myProjects">
                                    <div class="teaser project-teaser">
                                        <a href="#/project/{{ project.id }}" class="teaser__inner">
                                            <div class="teaser__actions">
                                                <div class="status-label status-label--new">
                                                    <p class="label">New</p>
                                                </div>
                                            </div>
                                            <div class="teaser__head">
                                                <div class="teaser__head__photo" style="background-image: url(https://placeimg.com/640/480/any?v={{ $index }})"></div>
                                            </div>
                                            <div class="teaser__content">
                                                <div class="update-info">
                                                    <div class="update-info__content">
                                                        <span class="icon icon--clock"></span>
                                                        <p class="label">
                                                            Updated: <time datetime="project.created_on | date: 'dd.MM.yyyy'">{{ project.created_on | date: 'dd.MM.yyyy' }}</time>
                                                        </p>
                                                    </div>
                                                </div>
                                                <progress class="progress-bar" value="{{ project.finished }}" max="100"></progress>
                                                <h3 class="project-title">
                                                    <span class="label">{{ project.name }}</span>
                                                </h3>
                                                <p class="templates-info">
                                                    <span class="qty">{{ project.templates_no }}</span>
                                                    <span class="label">templates</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="project-box__actions">
                            <a href="#/all-projects" class="action-btn">
                                <span class="action-btn__content">
                                    <span class="label">All projects</span>
                                    <span class="icon icon--folder"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
