<main class="sec-content">
     <div class="sec-content__inner">
         <div class="project-details">
             <h1 class="project-details__title sec-title">{{ project.fileName }}</h1>
             <div class="project-details__progress__bar">
                 <span class="project__details__progress__bar__title">Details processing</span>
                 <span class="project__details__progress progress-bar">
                     <span class="project__details__progress__value progress-bar__value" data-progress-value="98"></span>
                     <span class="project-details__progress__text progress-bar__text">0%</span>
                 </span>
             </div>
             <div class="project-details__templates">
                 <h2 class="project-details__templates__title table-head-title">Templates</h2>
                 <ul class="project-details__templates__list">
                     <li class="project-upload__box template uploading">
                         <div class="project-upload__box__background">
                             <span class="project-upload__box__background__icon"></span>
                         </div>
                          <p class="project-upload__box__subtitle">Upload Templates</p>
                          <div class="project-upload__box__details">
                             <span class="project-upload__box__details__progress progress-bar">
                                 <span class="project-upload__box__details__progress__value progress-bar__value" data-progress-value="56"></span>
                             </span>
                             <div class="project-upload__box__details__file-info file-info">
                                 <span class="file-info__progress-value progress-bar__text">27%</span>
                             <span class="file-info__size">11.5MB</span>
                             </div>
                         </div>
                     </li>

                     <li
                        class="project-details__templates__list__template template"
                        ng-repeat="template in project.templates" >
                         <template-preview></template-preview>
                     </li>

                     <li class="project-details__templates__list__template template">
                         <div class="template__background"></div>
                         <span class="template__status template__status--qa">Q&amp;A</span>
                         <span class="template__handle">Move</span>
                         <div class="template__details">
                             <div class="template__details__title__wrapper">
                                 <h2 class="template__details__title">Adipiscing elit sed</h2>
                             </div>
                         </div>
                         <div class="template__actions">
                             <button class="template__actions__action action-jpg">Jpg</button>
                             <button class="template__actions__action action-html">Html</button>
                             <button class="template__actions__action action-edit">Edit</button>
                             <button class="template__actions__action action-delete">Delete</button>
                         </div>
                     </li>
                     <li class="project-details__templates__list__template template">
                         <div class="template__background"></div>
                         <span class="template__status template__status--new">New</span>
                         <span class="template__handle">Move</span>
                         <div class="template__details">
                             <div class="template__details__title__wrapper">
                                 <h2 class="template__details__title">Adipiscing elit sed Adipiscing elit sed Adipiscing elit SedAdipiscing elit sed Adipiscing elit sed Adipiscing elit sed Adipiscing elit sed Adipiscing elit sed Adipiscing elit sed Adipiscing elit SedAdipiscing elit sed Adipiscing elit sed Adipiscing elit sed Adipiscing elit sed</h2>
                             </div>
                         </div>
                         <div class="template__actions">
                             <button class="template__actions__action action-jpg">Jpg</button>
                             <button class="template__actions__action action-html">Html</button>
                             <button class="template__actions__action action-edit">Edit</button>
                             <button class="template__actions__action action-delete">Delete</button>
                         </div>
                     </li>
                     <li class="project-details__templates__list__template template">
                         <div class="template__background"></div>
                         <span class="template__status template__status--rejected">Rejected</span>
                         <span class="template__handle">Move</span>
                         <div class="template__details">
                             <div class="template__details__title__wrapper">
                                 <h2 class="template__details__title">Adipiscing elit sed Adipiscing elit sed Adipiscing elitsssssssssss sssssssssssssss</h2>
                             </div>
                         </div>
                         <div class="template__actions">
                             <button class="template__actions__action action-jpg">Jpg</button>
                             <button class="template__actions__action action-html">Html</button>
                             <button class="template__actions__action action-edit">Edit</button>
                             <button class="template__actions__action action-delete">Delete</button>
                         </div>
                     </li>
                     <li class="project-details__templates__list__template template">
                         <div class="template__background"></div>
                         <span class="template__status template__status--progress">In Progress</span>
                         <span class="template__handle">Move</span>
                         <div class="template__details">
                             <div class="template__details__title__wrapper">
                                 <h2 class="template__details__title">Adipiscing</h2>
                             </div>
                         </div>
                         <div class="template__actions">
                             <button class="template__actions__action action-jpg">Jpg</button>
                             <button class="template__actions__action action-html">Html</button>
                             <button class="template__actions__action action-edit">Edit</button>
                             <button class="template__actions__action action-delete">Delete</button>
                         </div>
                     </li>
                 </ul>

                 <a class="project-details__templates__button" href="#">DOWNLOAD ALL TEMPLATES</a>
             </div>
             <div class="project-details__files">
                 <h2 class="project-details__files__title table-head-title">Files</h2>
                 <table class="project-details__files__table project-details-table project-table">
                     <thead>
                         <tr class="project-table__title">
                             <th>NO</th>
                             <th class="project-table--description-head">FILE NAME</th>
                             <th>EXTENSION</th>
                             <th>SIZE</th>
                             <th>UPLOADED DATE</th>
                             <th>ACTIONS FILE</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td class="project-details-table-m--number">No</td>
                             <td class="project-details-table-m--description">File name</td>
                             <td class="project-details-table--number">1</td>
                             <td class="project-details-table--description">Norogain.psd</td>
                             <td class="project-details-table-m--extension">Type</td>
                             <td class="project-details-table-m--size">Size[MB]</td>
                             <td class="project-details-table-m--date">Uploaded</td>
                             <td class="project-details-table--extension-psd project-details-table--extension">PSD</td>
                             <td class="project-details-table--size">2.5MB</td>
                             <td class="project-details-table--date">25/05/2015</td>
                             <td class="project-details-table-m--actions">Actions file</td>
                             <td class="project-details-table--file-download"><a href="#">DOWNLOAD</a></td>
                         </tr>
                         <tr class="table-spacer"><td>&nbsp;</td></tr>
                         <tr>
                             <td class="project-details-table-m--number">No</td>
                             <td class="project-details-table-m--description">File name</td>
                             <td class="project-details-table--number">2</td>
                             <td class="project-details-table--description">Loremipsunsetamet.psdkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</td>
                             <td class="project-details-table-m--extension">Type</td>
                             <td class="project-details-table-m--size">Size[MB]</td>
                             <td class="project-details-table-m--date">Uploaded</td>
                             <td class="project-details-table--extension">7Z</td>
                             <td class="project-details-table--size">2.5MB</td>
                             <td class="project-details-table--date">25/05/2015</td>
                             <td class="project-details-table-m--actions">Actions file</td>
                             <td class="project-details-table--file-download"><a href="#">DOWNLOAD</a></td>
                         </tr>
                         <tr class="table-spacer"><td>&nbsp;</td></tr>
                         <tr>
                             <td class="project-details-table-m--number">No</td>
                             <td class="project-details-table-m--description">File name</td>
                             <td class="project-details-table--number">3</td>
                             <td class="project-details-table--description">Atvero.zip</td>
                             <td class="project-details-table-m--extension">Type</td>
                             <td class="project-details-table-m--size">Size[MB]</td>
                             <td class="project-details-table-m--date">Uploaded</td>
                             <td class="project-details-table--extension-zip project-details-table--extension">ZIP</td>
                             <td class="project-details-table--size">2.5MB</td>
                             <td class="project-details-table--date">25/05/2015</td>
                             <td class="project-details-table-m--actions">Actions file</td>
                             <td class="project-details-table--file-download"><a href="#">DOWNLOAD</a></td>
                         </tr>
                     </tbody>
                 </table>
                 <div class="project-details__files__box">
                     <button class="project-details__files__box__button">Upload files</button>
                     <span class="project-details__files__box__files">Drag &amp; drop files</span>
                 </div>
                 <a class="project-details__files__button" href="#">DOWNLOAD ALL FILES (1188)</a>
             </div>
             <div class="project-details__info">
                 <h2 class="table-head-title project-details__info__title">Other informations</h2>
                 <div class="project-details__info__wrapper project-info">
                     <span class="project-info__hours">0h <span class="project-info__hours__text">ETA</span></span>
                     <span class="project-info__date">25/06/2015 <span class="project-info__date__text">START DATE</span></span>
                     <span class="project-info__deadline">06/07/2015 <span class="project-info__deadline__text">DATE OF DELIVERY</span></span>
                 </div>
             </div>
         </div>
     </div>
 </main>
