/* ==========================================================================
   Layouts
   ========================================================================== */
.register,
.login {
    background: url('../img/pic_bg.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.sec--head,
.sec--main,
.subsec {
    @extend %helper--sec;
    &__inner {
        @extend %helper--inner;
    }
}

.sec--head {
    position: fixed;
    z-index: 20;
    right: 0;
    left: 0;

    height: $size_header_v;

    opacity: 1;

    @extend %helper--transition;
    &__inner {
        max-width: $size_inner;
        height: 100%;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;

        @extend %helper--transition;
        @extend %helper--flex--space-between--center;
    }
    &__box {
        @extend %helper--flex--left--center;
        flex-grow: 1;
        & + .sec--head__box {
            justify-content: flex-end;
        }
    }
    &.small {
        height: $size_margin_big;

        border-bottom: 1px solid $color_grey_2;
        background: rgba(255,255,255,.9);
        &.hidden {
            opacity: 0;
            .sec--head {
                &__inner {
                    margin-top: -$size_margin_big;
                }
            }
        }
    }
}

.sec--main {
    margin-top: $size_header_v;
    margin-bottom: 150px;
    &__head,
    &__content {
        @extend %helper--sec;
    }
    &__content {
        .access-box {
            margin-top: $size_margin_big;
        }
    }
    .subsec {
        &:last-of-type {
            .subsec__inner {
                padding-bottom: 0;
            }
        }
    }
    .sec--main__head + .sec--main__content {
        .access-box {
            margin-top: 0;
        }
    }
}
.sec--main {
    @include breakpoint($breakpoint_smartphone) {
        margin-bottom: 100px;
        &__content {
            .access-box {
                margin-top: 5px;
            }
        }
    }
}

.subsec {
    &__head {
        @extend %helper--flex--space-between--center;
        .subtitle {
            flex-grow: 1;
        }
        .display-mode-list {
            margin-right: -$size_padding_display-mode;
        }
    }
    &__content {
        @extend %helper--flex--center--top;
        .project-box {
            width: 100%;
        }
    }
    .subsec__head + .subsec__content {
        margin-top: $size_padding_big;
    }
}
.subsec {
    @include breakpoint($breakpoint_tablet) {
        &__head {
            flex-wrap: wrap;
            .subtitle,
            .display-mode-list {
                width: 100%;
            }
            .display-mode-list {
                justify-content: center;
            }
            .subtitle + .display-mode-list {
                margin-top: $size_padding;
            }
        }
        .subsec__head + .subsec__content {
            margin-top: $size_padding_middle;
        }
    }
    @include breakpoint($breakpoint_smartphone) {
        .subsec__head + .subsec__content {
            margin-top: $size_padding;
        }
    }
}
