<div class="files-list__item__inner">
    <div class="files-list__item__counter">
    </div>
    <div class="files-list__item__content">
        <div class="file-data file-data--template-complexe">
            <div class="file-data__inner">
                <div class="file-data__name">
                    <h4 class="project-title">
                        <span class="label">{{ template.name }}</span>
                    </h4>
                </div>
                <div class="file-data__status">
                    <div class="status-label status-label--{{ projectStatus.className }}">
                        <p class="label">{{ projectStatus.labelContent }}</p>
                    </div>
                </div>
                <div class="file-data__uploaded-date">
                    <time class="file-date" datetime="{{ template.uploaded_date | date:'dd/MM/yyyy'}}">{{ template.uploaded_date | date:'dd/MM/yyyy' }}</time>
                </div>
                <div class="file-data__actions">
                    <ul class="action-tools-list">
                        <li class="action-tools-list__item">
                            <div class="action-tool action-tool--highlighted">
                                <a href="{{template.fullimage_url}}" target="_blank" class="action-tool__content">
                                    <span class="icon icon--file--image"></span>
                                </a>
                                <div class="action-tool__info">
                                    <div class="tooltip">
                                        <h4 class="label">jpg</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="action-tools-list__item">
                            <div class="action-tool action-tool--highlighted" ng-class="{'disabled': !template.html_url}">
                                <a href="{{template.html_url}}" target="_blank" class="action-tool__content">
                                    <span class="icon icon--file--code"></span>
                                </a>
                                <div class="action-tool__info" ng-if="template.html_url.length > 0">
                                    <div class="tooltip">
                                        <h4 class="label">html</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="action-tools-list__item">
                            <div class="action-tool action-tool--highlighted" aria-label="open template picture">
                                <a ui-sref=".submitBug({templateId: {{template.id}}})" class="action-tool__content">
                                    <span class="icon icon--bug"></span>
                                </a>
                                <div class="action-tool__info">
                                    <div class="tooltip">
                                        <h4 class="label">Submit bug</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="action-tools-list__item">
                            <div class="action-tool action-tool--highlighted action-tool--drag-and-drop" aria-label="drag and drop this template">
                                <a href="#" target="_blank" class="action-tool__content" data-as-sortable-item-handle>
                                    <span class="icon icon--resize"></span>
                                </a>
                                <div class="action-tool__info">
                                    <div class="tooltip">
                                        <h4 class="label">Drag and drop</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="action-tools-list__item">
                            <div class="action-tool action-tool--highlighted" aria-label="edit template">
                                <a ui-sref=".editTemplate({templateId: {{template.id}}})" class="action-tool__content">
                                    <span class="icon icon--pencil"></span>
                                </a>
                                <div class="action-tool__info">
                                    <div class="tooltip">
                                        <h4 class="label">Edit</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="action-tools-list__item">
                            <div class="action-tool action-tool--highlighted" aria-label="delete template">
                                <a class="action-tool__content"  ng-click="deleteTemplate(template.id)">
                                    <span class="icon icon--trash"></span>
                                </a>
                                <div class="action-tool__info">
                                    <div class="tooltip">
                                        <h4 class="label">Delete</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
