<div class="project-box__content" ng-switch-when="grid">
    <ul class="teasers-list" ui-sortable="sortableOptions" ng-model="templates">
        <li class="teasers-list__item">
            <div class="teaser action-teaser js-teaser" ng-click="toggleInput()"  ng-class="{active: activeInput}">
                <div class="teaser__inner">
                    <div class="teaser__head">
                        <span class="icon icon--upload"></span>
                    </div>
                    <div class="teaser__content">
                        <form class="project-action-form" ng-class="{active: activeInput}">
                            <fieldset class="form__fieldset">
                                <div class="field field--input">
                                    <label class="label" for="project-name">Upload Templates</label>
                                    <input type="file" name="add_file" class="input input--file" id="project-name" ng-class="{active: activeInput}">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </li>
        <li class="teasers-list__item" ng-repeat="template in templates" order="order">
            <template-preview type="grid"></template-preview>
        </li>
    </ul>
</div>
<div class="project-box__content" ng-switch-when="inline">
    <div class="files-box files-box--templates-complexe">
        <div class="files-box__head">
            <div class="files-box__number">
                <p class="filebox-title">No</p>
            </div>
            <div class="files-box__name">
                <p class="filebox-title">Template name</p>
            </div>
            <div class="files-box__status">
                <p class="filebox-title">Status</p>
            </div>
            <div class="files-box__uploaded-date">
                <p class="filebox-title">Uploaded date</p>
            </div>
            <div class="files-box__actions">
                <p class="filebox-title">actions</p>
            </div>
        </div>
        <div class="files-box__content">
            <div class="files-box__number">
            </div>
            <ol class="files-list js-drag-and-drop-list" ui-sortable="sortableOptions" ng-model="templates">
                <li class="files-list__item" ng-repeat="template in templates">
                    <template-preview type="inline"></template-preview>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="project-box__actions">
    <a href="http://frontendapp.com/projects/download/templates/{{projectId}}" class="action-btn">
        <span class="action-btn__content">
            <span class="label">Download all templates (<span class="qty">{{templates.length}}</span>)</span>
            <span class="icon icon--download"></span>
        </span>
    </a>
</div>

