<div class="sec--main__head" ng-if="displayTitle">
    <div class="sec--main__inner">
        <h2 class="main-title">
            <span class="label">{{ pageName }}</span>
        </h2>
    </div>
</div>
<div class="sec--main__content">
    <div class="subsec">
        <div class="subsec__inner">
            <div class="subsec__content">
                <div class="access-box">
                    <div class="access-box__head">
                        <auth-headers></auth-headers>
                    </div>
                    <div class="access-box__content" ui-view></div>
                </div>
            </div>
        </div>
    </div>
</div>
