<form class="access-form" id="form-login" name="loginForm" ng-submit="login(user)">
    <fieldset class="form__fieldset">
        <div class="form__content">
            <div class="form__section">
                <div class="field field--input">
                    <input
                    class="input input--text"
                    type="text"
                    placeholder="E-MAIL"
                    name="email"
                    id="email"
                    ng-model="user.email"
                    ng-model-options="{ updateOn: 'blur' }"
                    required>
                </div>
                <div class="field field--info" ng-show="loginForm.email.$invalid">
                    <div class="form-info required">
                        <p>This field is required</p>
                    </div>
                </div>
            </div>
            <div class="form__section">
                <div class="field field--input">
                    <input
                    class="input input--text"
                    type="password"
                    placeholder="PASSWORD"
                    name="password"
                    id="password"
                    ng-model="user.password"
                    ng-model-options="{ updateOn: 'blur' }"
                    required>
                </div>
                <div class="field field--info" ng-if="loginForm.password.$invalid">
                    <div class="form-info required">
                        <p>This field is required</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form__actions">
            <div class="form__section">
                <button type="submit" class="btn btn--submit" ng-disabled="loginForm.email.$invalid || loginForm.password.$invalid">
                    <span class="label">Submit</span>
                </button>
                <div class="field field--info" ng-if="error">
                    <div class="form-info required">
                        <p>Login or password is incorrect</p>
                    </div>
                </div>
                <div class="field field--cta">
                    <a ui-sref="accountState.remindState" class="forgot-password-link">
                        <span class="label">Forgot password?</span>
                    </a>
                </div>
            </div>
        </div>
    </fieldset>
</form>
