<form class="access-form" name="registrationForm" novalidate ng-submit="save(user)" form-autofill-fix>
    <fieldset class="form__fieldset">
        <div class="form__content">
            <div class="form__section">
                <div class="field field--input">
                    <input
                    id="username"
                    class="input input--text"
                    type="text"
                    placeholder="USERNAME"
                    ng-model="user.username"
                    name="username"
                    auto-fill-sync
                    required>
                </div>
                <div class="field field--info" ng-if="registrationForm.username.$invalid">
                    <div class="form-info required">
                        <p>This field is required</p>
                    </div>
                </div>
            </div>
            <div class="form__section">
                <div class="field field--input">
                    <input
                    id="email"
                    class="input input--text"
                    type="text"
                    placeholder="E-MAIL"
                    name="email"
                    ng-model="user.email"
                    auto-fill-sync
                    required>
                </div>
                <div class="field field--info" ng-if="registrationForm.email.$invalid">
                    <div class="form-info required">
                        <p>This field is required</p>
                    </div>
                </div>
            </div>
            <div class="form__section">
                <div class="field field--input">
                    <input
                    id="password"
                    class="input input--text"
                    type="password"
                    placeholder="PASSWORD"
                    name="password"
                    ng-model="user.password"
                    auto-fill-sync
                    required>
                </div>
                <div class="field field--info" ng-if="registrationForm.password.$invalid">
                    <div class="form-info required">
                        <p>This field is required</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form__actions">
            <div class="form__section">
                <button
                type="submit"
                class="btn btn--submit"
                ng-disable="registrationForm.password.$invalid || registrationForm.email.$invalid || registrationForm.username.$invalid">
                <span class="label">Submit</span>
            </button>
            <div class="field field--info" ng-if="errors">
                <div class="form-info required">
                    <p ng-repeat="error in errors">
                        {{error}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</fieldset>
</form>
