<form class="access-form">
    <fieldset class="form__fieldset">
        <div class="form__content">
            <div class="form__section">
                <div class="field field--input">
                    <input class="input input--text" type="email" placeholder="E-MAIL" name="e-mail" id="field_05">
                </div>
                <div class="field field--info">
                    <div class="form-info required">
                        <p>This field is required</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form__actions">
            <div class="form__section">
                <button type="submit" class="btn btn--submit">
                    <span class="label">Reset my password</span>
                </button>
                <div class="field field--info">
                    <div class="form-info required">
                        <p>Email is incorrect</p>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
