<main class="sec-content">
     <div class="sec-content__inner">
         <div class="projects-list">
             <h1 class="projects-list__title sec-title">My Projects</h1>
             <ul class="projects-list__projects">
                 <li class="projects-list__projects__project project project--add">
                     <div class="project--add__background">
                         <span class="project--add__background__icon"></span>
                     </div>
                     <div class="project--add__details">
                         <form class="form-new-project">
                             <label for="new-project-01" class="project--add__details__name">New Project</label>
                             <input type="text" placeholder="Project name" name="new-project-01" id="new-project-01" class="project--add__details__new"/>
                         </form>
                     </div>
                 </li>
                 <li class="projects-list__projects__project project project__my-proj{{$index}}"
                     ng-repeat="project in myProjects">
                     <a ng-href="details/{{project.id}}">
                        <div class="project__background"> <!-- how should I link backgroud for this? -->
                        </div>
                        <div class="project__details">
                             <p class="project__details__time">Updated: {{project.updated}}</p>
                             <span class="project__details__progress progress-bar">
                                 <span class="project__details__progress__value progress-bar__value" data-progress-value="{{project.progress}}"></span>
                             </span>
                             <h2 class="project__details__name">{{project.name}}</h2>
                             <p class="project__details__summary">{{project.templatesCount}} templates</p>
                         </div>
                     </a>
                 </li>
                 <!-- <li class="projects-list__projects__project project project__my-proj01">
                     <a href="details.html">
                         <div class="project__background">
                         </div>
                         <div class="project__details">
                             <p class="project__details__time">Updated: 22.02.2015</p>
                             <span class="project__details__progress progress-bar">
                                 <span class="project__details__progress__value progress-bar__value" data-progress-value="33"></span>
                             </span>
                             <h2 class="project__details__name">Temporibus autem autem autem autem hjhjhj ghsf hs hjsg jghj gdj gdhj gjdgh jd</h2>
                             <p class="project__details__summary">29 templates</p>
                         </div>
                     </a>
                 </li>
                 <li class="projects-list__projects__project project project__my-proj02">
                     <a href="details.html">
                         <div class="project__background">
                         </div>

                         <div class="project__details">
                             <p class="project__details__time">Updated: 22.01.2015</p>
                             <span class="project__details__progress progress-bar">
                                 <span class="project__details__progress__value progress-bar__value" data-progress-value="66"></span>
                             </span>
                             <h2 class="project__details__name">Perspiciatis unde omnis</h2>
                             <p class="project__details__summary">11 templates</p>
                         </div>
                     </a>
                 </li>
                 <li class="projects-list__projects__project project project__my-proj03">
                     <a href="details.html">
                         <div class="project__background">
                         </div>
                         <div class="project__details">
                             <p class="project__details__time">Updated: 22.06.2015</p>
                             <span class="project__details__progress progress-bar">
                                 <span class="project__details__progress__value progress-bar__value" data-progress-value="100"></span>
                             </span>
                             <h2 class="project__details__name">Et vero eos et</h2>
                             <p class="project__details__summary">42 templates</p>
                         </div>
                     </a>
                 </li> -->
             </ul>
             <a class="projects-list__button" href="allprojects.html">All Projects</a>
         </div>
     </div>
 </main>
