/* ==========================================================================
   Components
   ========================================================================== */
.head {
    &__title {
        font-size: 18px;

        letter-spacing: 1px;

        color: $color_black;
        &__highlight {
            font-family: $font_roboto_bold;
        }
    }
    &__nav-path {
        font-size: 18px;

        color: $color_gray_font;
        &:before {
            width: 2px;
            height: 3px;

            background: url('../img/nav-text-arrow.png') center center no-repeat;
        }
    }
    &__userpanel {
        overflow: visible;

        width: 35px;
        height: 35px;
        padding: 0;

        font-size: 14px;
        line-height: 35px;

        cursor: pointer;
        transition: background-color 300ms ease;
        text-align: center;

        color: $color_white;
        border: 0;
        border-radius: 50%;
        background-color: $color_red;
        &.active {
            padding: 0;

            background-color: $color_bg_project;
            &:after {
                transform: rotate(180deg);
            }
        }
        &:hover {
            background-color: $color_bg_project;
        }
        &:after {
            border-width: 3px 2.5px 0 2.5px;
            border-style: solid;
            border-color: $color_black transparent transparent transparent;
        }
        &__text {
            position: absolute;
            top: 0;
            left: 13px;
        }
    }
}

.menu {
    width: 1024px;

    opacity: 0;
    &__list {
        margin-top: 10px;
        padding: 10px;

        font-size: 14px;
        line-height: 2;

        list-style: none;

        text-align: left;

        border: 1px solid $color_tbl_border;
        border-radius: 5px;
        background-color: $color_white;
        &__item {
            padding-right: 40px;

            transition: color 200ms ease;
            &:hover {
                text-decoration: none;

                color: $color_red;
            }
        }
        &:after,
        &:before {
            transition: inherit;
            pointer-events: none;

            border: solid transparent;
        }
        &:after {
            margin-right: -5px;

            border-width: 5px;
            border-bottom-color: $color_white;
        }
        &:before {
            margin-right: -6px;

            border-width: 6px;
            border-bottom-color: $color_tbl_border;
        }
    }
    &__close {
        overflow: visible;

        width: 22px;
        height: 22px;
        padding: 0;

        font-size: 0;

        cursor: pointer;

        color: transparent;
        border: 0;
        background-color: transparent;
        &:hover {
            border-color: $color_black;
            &:after,
            &:before {
                border-color: $color_black;
            }
        }
        &:after,
        &:before {
            width: 30px;
            height: 1px;

            transition: border-color 200ms ease;

            border-bottom: 2px solid $color_white;
        }
        &:after {
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
        }
        &:before {
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
        }
    }
    &.opened {
        opacity: 1;
    }
}

.progress-bar {
    width: 100%;
    height: 10px;

    border: 0;
    border-radius: 5px;
    background-color: $color_black;
    &__value {
        content: '';

        border-radius: 5px;
        background-color: $color_white;
    }
    &.complete {
        .progress-bar__value {
            width: 100%;

            background: $color_green_bar;
        }
        .project-details__progress__text {
            left: 50%;

            width: 60px;
            margin-left: -30px;
        }
    }
}

.project__details__progress {
    width: 195px;
    height: 8px;

    content: '';

    background-color: $color_black;
    box-shadow: 0 2px 2px -2px $color_gray_font;
    &__value {
        background-color: $color_red_bar;
    }
}

.projects-list {
    &__projects {
        padding: 0;

        list-style: none;
    }
    &__button {
        padding: 17px 60px 17px 18px;

        font-size: 14px;
        line-height: 14px;

        @extend %btn;
        &:after {
            width: 21px;
            height: 16px;

            background: url('../img/ico-folder.png');
        }
    }
}

.project__background:after,
.project--add__background:after,
.project-upload__box__background:after {
    width: 1px;
    height: 1px;

    transition: 400ms ease-in-out,
    border-radius 400ms linear;

    border-radius: 50%;
    background: transparent;
}

.project {
    width: 244px;
    min-height: 330px;

    cursor: pointer;
    a:hover {
        text-decoration: none;
    }
    &__background {
        width: 100%;
        height: 244px;
        &.project__background {
            background: url('../img/bg-project02.jpg') center top no-repeat;
        }
    }
    &__my-proj01 .project__background {
        background: url('../img/bg-project01.jpg') center top no-repeat;
    }
    &__my-proj02 .project__background {
        background: url('../img/bg-project02.jpg') center top no-repeat;
    }
    &__my-proj03 .project__background {
        background: url('../img/bg-project03.jpg') center top no-repeat;
    }
    &__details {
        height: 133px;
        padding: 26px 23px 0 26px;

        transition: 300ms ease;

        color: $color_white;
        background-color: $color_bg_project;
        &.project--add {
            color: red;
            background-color: $color_white;
        }
        &__name {
            font-size: 16px;
            font-weight: 300;
            line-height: 18px;

            text-align: center;
        }
        &__summary {
            position: absolute;
            bottom: 20px;
            left: 0;

            width: 100%;

            font-family: $font_roboto_bold;
            font-size: 12px;

            transition: bottom 300ms ease;
            text-align: center;
            text-transform: uppercase;
        }
        &__time {
            width: 100%;
            height: 50px;
            padding-left: 45px;

            transition: 300ms ease;
            text-transform: uppercase;

            opacity: 0;
            color: $color_white;
            &:before {
                top: 0;
                left: 22px;

                width: 20px;
                height: 20px;

                transition: 300ms ease;

                background: url('../img/ico-clock.png') center center no-repeat;
            }
        }
    }
}

.project--add {
    cursor: pointer;

    border: 4px solid $color_red;
    background-color: $color_red;
    &__background {
        height: 240px;

        text-align: center;

        background: $color_white;
        &__icon {
            position: absolute;
            top: 111px;
            left: 50%;

            margin-left: -9px;
            &:before {
                top: 8px;

                width: 18px;

                border: 1px solid $color_red;
            }
            &:after {
                left: 8px;

                height: 18px;

                border: 1px solid $color_red;
            }
        }
    }
    &__details {
        position: relative;

        text-align: center;

        color: $color_black;
        background-color: $color_white;
        &,
        &__name,
        &__new {
            height: 129px;
        }
        &__name {
            position: absolute;
            top: 0;
            left: 0;

            display: block;

            width: 100%;
            margin-top: 0;
            padding-top: 47px;

            font-size: 20px;

            cursor: pointer;
            transition: 300ms ease;
            text-align: center;
        }
        &__new {
            z-index: -1;

            width: 100%;
            height: 50px;
            margin-top: 40px;
            padding: 10px;

            font-size: 20px;

            transition: 200ms ease-out;
            text-align: center;
            pointer-events: none;

            opacity: 0;
            border: none;
        }
    }
}

.project--add:hover,
.project--add--hovered {
    .project--add__background {
        transition: 100ms ease;
        transition-delay: 300ms;

        background-color: $color_red;
        &:after {
            top: -100px;
            left: -80px;

            width: 400px;
            height: 400px;

            background: $color_red;
        }
    }
    .project--add__background__icon {
        &:before,
        &:after {
            z-index: 2;

            border-color: $color_white;
        }
    }
}
.project--add--hovered {
    .project--add__details__name {
        z-index: 2;

        display: inline;

        height: 35px;
        padding-top: 20px;

        font-size: 16px;

        color: $color_red;
    }
    .project--add__details__new {
        pointer-events: auto;

        opacity: 1;
    }
}

.project:hover {
    .project {
        &__background {
            &:after {
                top: -80px;
                left: -80px;

                width: 400px;
                height: 400px;

                background: rgba(red, .4);
            }
        }
        &__details {
            padding-top: 50px;
            &__summary {
                bottom: 5px;

                margin-top: 0;
            }
            &__time {
                height: 40px;
                padding-top: 20px;

                opacity: 1;
                &:before {
                    top: 18px;
                }
            }
        }
    }
}
.project-details {
    &__progress {
        &__bar {
            position: relative;

            height: 35px;
            .project__details__progress {
                width: 100%;
                height: 12px;

                background-color: #e2e2e2;
                box-shadow: 4px 4px 3px rgba(black, .1) inset;
            }
        }
        &__text {
            position: absolute;
            top: 14px;

            margin-left: 65%;

            font-size: 14px;

            color: $color_bg_project;
        }
    }
    &__templates {
        margin-top: 20px;
        margin-bottom: 50px;
        &__button {
            margin-bottom: 50px;
        }
    }
    &__files {
        clear: both;

        margin-top: 20px;
        &__box {
            width: 100%;
            margin-top: 30px;
            &__button {
                float: left;

                width: 15%;
                height: 50px;
                padding: 0;

                font-size: 14px;

                @extend %btn;
            }
            &__files {
                float: left;

                width: 85%;
                height: 50px;
                padding-left: 20px;

                font-family: $font_roboto_bold;
                font-size: 12px;
                line-height: 48px;

                text-transform: uppercase;

                color: $color_black;
                border: 1px solid $color_red;
            }
        }
        &__button {
            margin-bottom: 50px;
        }
    }
}

.project-details__templates__button,
.project-details__files__button,
.project-upload-files__button {
    float: left;
    clear: both;

    margin-top: 30px;
    padding: 17px 60px 17px 18px;

    font-size: 14px;
    line-height: 14px;

    @extend %btn;
    &:after {
        top: 15px;
        right: 20px;

        width: 19px;
        height: 16px;

        background: url('../img/ico-download.png') center center no-repeat;
    }
}

.project-upload {
    &__box {
        position: relative;

        overflow: hidden;

        width: 244px;
        height: 334px;
        margin: 0 auto 40px auto;

        transition: 300ms ease;

        border: 4px solid $color_red;
        &__background {
            height: 198px;
            &__icon {
                position: absolute;
                top: 82px;
                left: 50%;

                width: 40px;
                height: 34px;
                margin-left: -20px;

                content: '';

                background: url('../img/ico-upload.png') center center no-repeat;
            }
        }
        &__subtitle {
            position: relative;

            height: 120px;
            margin: 0;
            padding-top: 55px;
            padding-bottom: 40px;

            font-family: $font_roboto_light;
            font-size: 14px;

            transition: 300ms ease;
            text-align: center;

            background-color: $color_white;
        }
    }
}

.project-upload__box.template {
    .project-upload__box__details {
        display: block;
    }
}

.project-upload__box__details {
    position: relative;

    display: none;

    width: 100%;
    margin-top: -30px;
    padding: 18px;

    color: $color_black;
    background-color: $color_white;
    &__progress {
        width: 200px;

        background-color: #e2e2e2;
        box-shadow: 4px 4px 3px rgba(black, .1) inset;
        &__value {
            background-color: $color_red_bar;
        }
    }
    &__file-info {
        float: right;

        margin-top: 30px;

        font-family: $font_roboto_bold;
        font-size: 12px;
    }
}

.project-upload__box:hover {
    cursor: pointer;
    .project-upload__box__background {
        transition: 0ms ease;
        transition-delay: 300ms;

        background-color: $color_red;
        &:after {
            top: -100px;
            left: -80px;

            width: 400px;
            height: 400px;

            background: $color_red;
        }
        &__icon {
            z-index: 3;

            transition: background 1s ease;
            transition-delay: 2s;

            background: none;
            &:before {
                top: 16px;
                left: 12px;

                width: 18px;

                border: 1px solid $color_white;
            }
            &:after {
                top: 8px;
                left: 20px;

                height: 18px;

                border: 1px solid $color_white;
            }
        }
    }
}

.file-info {
    &__progress-value {
        color: $color_red;
    }
    &__size {
        margin-left: 10px;

        text-transform: uppercase;
    }
}

.project-info {
    position: relative;
    right: 100px;

    float: right;

    padding-bottom: 60px;

    font-size: 48px;

    color: $color_black;
    &__hours,
    &__date,
    &__deadline {
        position: relative;

        display: block;
        float: left;

        margin: 0 40px;
        &__text {
            position: absolute;
            top: 60px;
            left: 5px;

            font-family: $font_roboto_bold;
            font-size: 10px;

            text-transform: uppercase;

            color: $color_tbl_border;
        }
    }
}

.project-details__templates__list {
    margin: 0 -8px;
    padding: 0;

    list-style: none;
    &:after {
        display: block;
        clear: both;

        content: '';
    }
    .project-upload__box {
        background-color: $color_white;
        &__background {
            height: 239px;
            &__icon {
                top: 100px;
            }
        }
        &__subtitle {
            padding-top: 52px;

            font-size: 20px;
        }
        &.uploading {
            .project-upload__box {
                &__background:after {
                    display: none;
                }
                &__background {
                    background-color: $color_red;
                    &__icon {
                        background: none;
                        &:before,
                        &:after {
                            border: 1px solid #fff;

                            @extend %pseudoelements;
                        }
                        &:before {
                            top: 16px;
                            left: 12px;

                            width: 18px;
                        }
                        &:after {
                            top: 8px;
                            left: 20px;

                            height: 18px;
                        }
                    }
                    &:after {
                        top: 33%;
                    }
                }
                &__subtitle {
                    height: auto;
                    padding-top: 21px;
                }
            }
        }
    }
}
.project__background:not(.project--add),
.template__background:not(.project-upload__box) {
    border: 1px solid $color_bg_project;
}

.template-placeholder {
    width: 244px;
    height: 377px;

    border: 2px dotted $color_red;
    background-color: rgba($color_red, .7);
    display: inline-block;
    float: left;
    margin: 0 8px 20px 8px;
}
.template {
    position: relative;

    float: left;
    overflow: hidden;

    width: 244px;
    height: 377px;
    margin: 0 8px 20px 8px;

    transition: all 0ms ease;
    &__handle {
        position: absolute;
        top: 0;
        left: 0;

        width: 40px;
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;
        cursor: move;

        content: '';

        background-color: $color_black;
        color: $color_white;
    }
    &__status {
        position: absolute;
        top: 0;
        right: 0;

        display: block;

        width: 122px;
        height: 40px;

        font-size: 14px;
        line-height: 40px;

        text-align: center;
        text-transform: uppercase;
        pointer-events: none;

        color: $color_white;
        &::selection {
            color: black;
            background-color: inherit;
        }
        &--complete {
            background-color: $color_green;
        }
        &--qa {
            background-color: $color_blue;
        }
        &--new {
            top: 1px;
            right: 1px;

            width: 121px;
            height: 39px;

            line-height: 38px;

            color: $color_black;
            border-bottom: 1px solid rgba(0,0,0,.2);
            border-left: 1px solid rgba(0,0,0,.2);
            background-color: $color_white;
            &::selection {
                color: white;
                background-color: #000;
            }
        }
        &--rejected {
            background-color: $color_red;
        }
        &--progress {
            background-color: $color_violet;
        }
    }
    &__background {
        position: relative;

        overflow: hidden;

        width: 100%;
        height: 244px;

        background: $color_tbl_border url('../img/bg-project03.jpg') left top no-repeat;
    }
    &__details {
        width: 100%;
        height: 133px;

        background-color: $color_bg_project;
        &__title {
            overflow: hidden;

            margin: 0;

            font-size: 16px;
            font-weight: 300;
            line-height: 20px;

            text-align: center;

            color: $color_white;
            &__wrapper {
                display: flex;
                overflow: hidden;

                width: 100%;
                height: 100%;
                padding: 0 5px;

                transition: height 200ms ease-in-out;

                align-items: center;
                justify-content: center;
            }
        }
    }
    &__actions {
        position: absolute;
        bottom: -50px;
        left: 0;

        width: 100%;

        transition: all 200ms ease-in-out;
        &__action {
            position: relative;

            display: block;
            float: left;

            width: 25%;
            margin: 0;
            padding: 13px 0;

            transition: all 300ms;

            color: $color_white;
            border: 0;
            background-color: rgba($color_black, .6);
            &:before {
                top: -2px;
                left: 0;

                width: 100%;
                height: 2px;

                transition: all 250ms;

                background-color: transparent;

                @extend %pseudoelements;
            }
        }
    }
}

.template:hover {
    z-index: 2;
    .template__details__title__wrapper {
        height: 90px;
    }
    .template__actions {
        bottom: 0;
    }
}

.action {
    &-jpg,
    &-html,
    &-edit,
    &-delete {
        overflow: visible;

        text-indent: -9998em;

        border-right: 1px solid $color_bg_project;
        &:hover {
            &:before {
                background-color: #fff;
            }
        }
    }
    &-jpg {
        background: $color_red url('../img/ico-jpg.png') center center no-repeat;
    }
    &-html {
        background: $color_red url('../img/ico-html.png') center center no-repeat;
    }
    &-edit {
        background: $color_black url('../img/ico-edit.png') center center no-repeat;
    }
    &-delete {
        background: $color_black url('../img/ico-delete.png') center center no-repeat;
    }
}

.all-projects__pagination {
    display: block;

    margin: 0;
    margin-bottom: 50px;
    padding: 0 20px;

    list-style: none;

    text-align: center;
    &__item {
        display: inline-block;

        width: 50px;
        height: 50px;
        margin: 5px;

        font-size: 14px;
        line-height: 48px;
        &__inner {
            position: relative;

            display: block;

            transition: all 300ms;

            border: 1px solid $color_black;
            &:hover {
                text-decoration: none;

                color: $color_white;
                border-color: $color_red;
                background-color: $color_red;
                .pagination-next,
                .pagination-prev {
                    &:before,
                    &:after {
                        border-color: $color_white;
                    }
                }
            }
        }
        &--prev,
        &--next {
            position: relative;

            text-indent: -9998em;
        }
        &.active {
            .all-projects__pagination__item__inner {
                color: $color_red;
                border-color: $color_red;
                &:hover {
                    color: $color_white;
                }
            }
        }
    }
}

.pagination-next,
.pagination-prev {
    width: 100%;
    height: 100%;
    &:before,
    &:after {
        display: block;

        height: 15px;

        border-left: 1px solid $color_black;
    }
    &:before {
        top: 10.5px;
    }
    &:after {
        bottom: 11px;
    }
}
.pagination-prev {
    &:before,
    &:after {
        left: 22.5px;
    }
    &:before {
        -webkit-transform: rotate(40deg);
                transform: rotate(40deg);
    }
    &:after {
        -webkit-transform: rotate(-40deg);
                transform: rotate(-40deg);
    }
}
.pagination-next {
    &:before,
    &:after {
        left: 23.5px;
    }
    &:before {
        -webkit-transform: rotate(140deg);
                transform: rotate(140deg);
    }
    &:after {
        -webkit-transform: rotate(-140deg);
                transform: rotate(-140deg);
    }
}
