/* ==========================================================================
   Extends
   ========================================================================== */

/* Place for helper classes to use for extending other modules.
   ========================================================================== */

%pseudoelements {
    position: absolute;

    width: 0;
    height: 0;

    content: '';
}

%btn {
    position: relative;

    cursor: pointer;
    transition: background-color 200ms ease;
    text-transform: uppercase;

    color: $color_white;
    border: 0;
    background-color: $color_red;
    &:hover {
        text-decoration: none;

        background-color: $color_bg_project;
    }
}
