/* ==========================================================================
   Forms
   ========================================================================== */
.form {
    fieldset {
        margin: 0;
        padding: 0;

        border: 0;
    }
    input,
    textarea {
        &:focus {
            outline: none;
        }
    }
    *::-ms-clear {
        display: none;
    }
}

input::-ms-clear {
    display: none;

    width: 0;
    height: 0;
}

.register-title a {
    color: $color_title_reg;
}

.fields__field {
    height: 50px;
    margin-bottom: 13px;
    padding: 0 15px;

    font-family: $font_roboto_bold;
    font-size: 14px;

    transition: 250ms ease-out;

    color: $color_black;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: $color_bg_field;

    -webkit-appearance: none;
    &:focus {
        border: 1px solid $color_tbl_border;
        box-shadow: 0 0 15px 1px rgba(black, .1) inset;
    }
    &.warning {
        color: $color_red;
        border: 1px solid $color_red;
        &::-webkit-input-placeholder {
            color: $color_red;
        }
        &:-moz-placeholder {
            opacity: 1;
            color: $color_red;
        }
        &::-moz-placeholder {
            opacity: 1;
            color: $color_red;
        }
        &:-ms-input-placeholder {
            color: $color_red;
        }
    }
    &::-webkit-input-placeholder,
    &:-ms-input-placeholder {
        color: $color_black;
    }
    &:-moz-placeholder,
    &::-moz-placeholder {
        opacity: 1;
        color: $color_black;
    }
}
.form-register,
.form-login {
    width: 330px;
    &__button {
        width: 330px;
        height: 50px;
        margin-bottom: 50px;

        font-family: $font_roboto_bold;

        letter-spacing: .4px;
        @extend %btn;
    }
}
.forms__tabs {
    position: relative;
    left: -40px;

    height: 36px;
    margin-top: 70px;
    margin-bottom: 40px;
    margin-left: 50%;
    padding: 0;

    list-style: none;
    &__item {
        position: relative;

        float: left;

        width: 40px;
        height: 36px;

        content: '';
        cursor: pointer;
        transition: background-color 300ms ease;

        border: 1px solid $color_tbl_border;
        a {
            position: relative;

            display: block;

            width: 100%;
            height: 100%;

            text-indent: -9999em;

            outline: none;
        }
        &--register,
        &--login {
            &:before,
            &:after {
                position: absolute;

                opacity: 0;
            }
            &:before {
                top: 40px;
                left: 50%;

                margin-left: -1.5px;

                border-width: 0 2.5px 3px 2.5px;
                border-style: solid;
                border-color: transparent transparent $color_black transparent;
            }
            &:after {
                top: 43px;
                left: -30px;

                width: 100px;
                height: 30px;
                padding-top: 5px;

                font-family: $font_roboto_bold;

                text-align: center;
                text-transform: uppercase;

                color: $color_white;
                background-color: $color_black;
            }
            &:hover {
                &:after,
                &:before {
                    opacity: 1;
                }
                &:before {
                    content: '';
                }
            }
        }
        &--register {
            background: url('../img/ico-lock.png') center center no-repeat;
            &:hover {
                &:after {
                    content: 'Register';
                }
            }
        }
        &--login {
            border-right: 0;
            background: url('../img/ico-unlock.png') center center no-repeat;
            &:hover {
                &:after {
                    content: 'Login';
                }
            }
        }
        // &.active {
            background-color: $color_bg_field;
        // }
    }
}
// .forms__content__item.form-active {
//     left: 50%;
//     margin-left: -165px;
//     opacity: 1;
// }
.forms__content__item {
    margin: 0 auto;
    opacity: 1;
}

.form-login {
    &__message,
    &__warning {
        display: block;

        width: 100%;

        font-family: $font_roboto_bold;
        font-size: 14px;

        text-align: center;
        text-transform: uppercase;

        color: $color_red;
    }
    &__warning {
        position: relative;

        margin-bottom: 50px;
        padding-top: 40px;
        &:before {
            position: absolute;
            top: 0;
            left: -10.5px;

            width: 21px;
            height: 18px;
            margin-left: 50%;

            content: '';

            background: url('../img/ico-warning.png') center center no-repeat;
        }
    }
    &__message {
        margin-bottom: 30px;
    }
    &__button {
        margin-bottom: 40px;
    }
}

.fields__field,
.form-register__button,
.form-login__button {
    width: 100%;
}
