/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Desktop
   ========================================================================== */
@media (max-width: $breakpoint_desktop_mini) {
    .inner {
        max-width: 100%;
        padding: 0 15px;
    }
    .menu {
        right: 0;
        left: 0;

        width: 1024px;
        max-width: 100%;

        opacity: 0;
        &__list {
            right: 25px;
        }
    }
    .projects-list__projects,
    .project-details__templates__list {
        max-width: 798px;
        margin: 0 auto;
    }
    .project,
    .template,
    .template-placeholder {
        display: inline-block;
        float: none;

        margin: 0 10px 40px 10px;
    }
    .projects-list__button {
        margin-left: 15px;
    }

    .project-info {
        right: 0;

        display: flex;
        flex-direction: row;

        width: 100%;

        flex-wrap: wrap;
        justify-content: center;
    }

    .project-details-table--number {
        width: 5%;
    }
    .project-details-table--description {
        width: 69%;
        max-width: 69vw;
    }
    .all-projects-table--description {
        max-width: 45vw;
    }

    .project-details__files__table {
        .project-details-table--description {
            width: 45%;
            max-width: 45vw;
        }
        .project-details-table--extension,
        .project-details-table--size {
            width: 10%;
        }
        .project-details-table--date,
        .project-details-table--file-download {
            width: 15%;
        }
    }
}
@media (max-width: $breakpoint_tablet) {
    .project-details-table--size {
        width: 10%;
    }
    .project-details-table--date {
        width: 15%;
    }
    .project-info {
        &__hours,
        &__date,
        &__deadline {
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    .project-details-table--description {
        max-width: 40vw;
    }
}
@media (max-width: 850px) {
    .projects-list__projects,
    .project-details__templates__list {
        max-width: 542px;
        margin: 0 auto;
    }
    .project,
    .template,
    .template-placeholder {
        margin: 0 12px 40px 12px;
    }
    .project-files-table--description {
        max-width: 45vw;
    }
    .all-projects-table--description {
        max-width: 40vw;
    }
}


@media (max-width: $breakpoint_tablet_mini) {
    .table-head-title {
        text-align: center;
    }
    .project-files-table--size {
        width: 80px;
        padding-right: 12px;
    }

    .project-info {
        &__hours,
        &__date,
        &__deadline {
            margin-right: 10px;
            margin-left: 10px;

            font-size: 40px;
            &__text {
                top: 55px;
            }
        }
    }
    .project-details__templates__button,
    .project-details__files__button {
        left: -132.5px;

        width: 265px;
        margin-left: 50%;
    }
    .project-details-table--description {
        width: 64%;
    }
}
@media (max-width: $breakpoint_landscape) {
    .inner {
        padding: 0;
    }
    .head__nav-path {
        display: none;
    }
    .page--not-logged-in {
        background: $color_bg_register;
    }
    .menu {
        z-index: 3;
        top: 0;
        right: 0;
        left: 100%;

        display: table;

        width: 100%;
        height: 100%;

        line-height: 1.6;

        transition: all 400ms ease-in-out;

        background-color: rgba($color_red, .9);
        &.opened {
            position: fixed;
        }
        &__list {
            position: static;

            display: table-cell;

            margin: 0;
            padding: 0;

            font-size: 24px;
            line-height: 2;

            text-align: center;
            vertical-align: middle;

            border: 0;
            background-color: transparent;
            & a {
                display: block;

                padding: 0;

                color: $color_white;
                &:hover {
                    color: $color_black;
                }
            }
            &:after,
            &:before {
                border: 0;
            }
        }
        &__close {
            z-index: 4;

            display: block;
        }
    }
    .sec-head {
        height: 122px;
    }
    .head {
        &__title {
            margin: 0;
            padding-top: 41px;
            padding-left: 19px;

            font-size: 24px;

            letter-spacing: 0;
            &__highlight {
                font-family: $font_normal;
            }
        }
        &__userpanel {
            position: fixed;
            top: 34px;
            right: 34px;

            width: 55px;
            height: 55px;
            margin: 0;

            border-radius: 5px;
            &:after {
                display: none;
            }
            &__text,
            &__text:before,
            &__text:after {
                position: absolute;
                top: 50%;
                left: 50%;

                width: 18px;
                height: 4px;
                margin-top: -2px;
                margin-left: -9px;

                content: '';

                border-radius: 2px;
                background-color: $color_white;
            }
            &__text:before {
                top: -5px;
                left: 9px;
            }
            &__text:after {
                top: 9px;
                left: 9px;
            }
            &.active {
                .head__userpanel__text,
                .head__userpanel__text:before,
                .head__userpanel__text:after {
                    background-color: $color_red;
                }
            }
        }
        &__search {
            position: absolute;
            top: 54px;
            right: 110px;

            display: block;

            width: 18px;
            height: 18px;

            content: '';
            text-indent: -9998em;

            background: url('../img/ico-search.png') center center no-repeat;
        }
    }
    .project-details__progress__bar {
        width: 78%;
        height: 50px;
        margin: 0 11%;
    }

    .register-title a {
        position: absolute;
        left: -69px;

        margin-left: 50%;

        font-size: 22px;
        padding-left: 0;
    }
    .forms__tabs {
        margin-top: 0;
    }

    .sec-title {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .projects-list__button {
        left: -90px;

        width: 180px;
        margin-left: 50%;
    }

    .project-info {
        display: block;
        float: right;

        width: 100%;
        padding-bottom: 50px;
        &__hours,
        &__date,
        &__deadline {
            float: none;

            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
            margin-left: 0;

            font-size: 36px;

            text-align: center;
        }
        &__hours__text {
            left: -9px;

            margin-left: 50%;
        }
        &__date__text {
            left: -29px;

            margin-left: 50%;
        }
        &__deadline__text {
            left: -45px;

            margin-left: 50%;
        }
    }

    //tables

    .project-table {
        width: 86%;
        margin: 0 7%;

        color: $color_bg_field;
        td {
            position: relative;

            display: block;
            float: left;

            height: 46px;

            font-size: 14px;
            line-height: 44px;
        }
        a {
            line-height: 44px;

            color: $color_white;
        }
    }

    .project-table__title {
        display: none;
    }
    .table-head-title {
        position: relative;

        margin: 0;
        margin-left: 11%;
        padding-top: 35px;

        font-family: $font_roboto_light;
        font-size: 38px;

        text-align: left;

        color: $color_white;
    }
    .project-upload-files__title {
        color: $color_black;
    }

    .project-details__templates {
        margin: 0;

        background-color: $color_bg_m_templates;
        &__title:after {
            position: absolute;
            top: 47px;
            left: 192px;

            width: 43px;
            height: 29px;

            content: '';

            background: url('../img/ico-folder-m.png') center center no-repeat;
        }
        .project-details-table--number {
            width: 15%;

            border: 1px solid $color_tbl_border;
        }
        .project-details-table--description {
            width: 85%;
            max-width: 82vw;

            border: 1px solid $color_tbl_border;
            border-left: 0;
        }
    }

    .project-details-table--title {
        display: none;
    }

    .project-details__files__table {
        color: $color_black;
    }

    .project-files-table {
        color: $color_black;
        &--description {
            width: 100%;

            border: 1px solid $color_tbl_border;
        }
        &--extension {
            width: 25%;
        }
        &--size {
            width: 25%;

            border: 0;
            border-top: 1px solid $color_tbl_border;
            border-bottom: 1px solid $color_tbl_border;
            &:after {
                right: 5px;
            }
        }
        &--date {
            width: 50%;
            max-width: 50%;

            border: 1px solid $color_tbl_border;
        }
        &--status {
            width: 100%;
            margin-bottom: 50px;
        }
    }
    .all-projects-table {
        color: $color_black;
        &--status {
            width: 100%;
        }
        &--number {
            width: 15%;
        }
        &--description {
            width: 85%;

            border-right: 1px solid $color_black;
        }
        &--date-start,
        &--date-end {
            width: 50%;
            margin-bottom: 50px;
        }
        &--date-start {
            border-left: 1px solid $color_black;
        }
    }
    .project-table {
        .table-spacer {
            position: absolute;
            left: -11%;

            display: block;

            width: 111%;
            height: 1px;

            background-color: $color_bg_field;
            td {
                height: 0;
                margin: 0;
            }
        }
    }

    //buttons
    .project-details__templates__button,
    .project-details__files__button,
    .project-upload-files__button {
        left: 0;

        width: 100%;
        height: 86px;
        margin: 0;
        padding-top: 35px;

        font-family: $font_normal;
        font-size: 28px;
        &:after {
            top: 32px;
            right: 35px;

            width: 25px;
            height: 21px;

            background: url('../img/ico-download-m.png') center center no-repeat;
        }
    }
    .project-details__files {
        &__title {
            color: $color_black;
            &:after {
                top: 48px;
                left: 90px;

                width: 23px;
                height: 29px;

                background: url('../img/ico-file-m.png') center center no-repeat;
            }
        }
        .project-details-table {
            &-m {
                &--extension,
                &--size {
                    width: 25%;
                }
                &--date {
                    width: 50%;
                }
            }
            &--size,
            &--extension {
                width: 25%;
            }
            &--size {
                border: 0;
                border-top: 1px solid $color_tbl_border;
                border-bottom: 1px solid $color_tbl_border;
            }
            &--date {
                width: 50%;

                border: 1px solid $color_tbl_border;
            }
            &--number {
                width: 15%;

                border: 1px solid $color_tbl_border;
            }
            &--description {
                width: 85%;
                max-width: 75vw;

                border: 1px solid $color_tbl_border;
                border-left: 0;
            }
            &--file-download {
                width: 100%;
                margin-bottom: 50px;
            }
        }
    }
    .project-details__templates__list {
        padding: 40px 0;
    }
    .action {
        &-jpg:hover,
        &-html:hover,
        &-edit:hover,
        &-delete:hover {
            padding-left: 0;
            &:after,
            &:before {
                display: none;
            }
        }
    }
    .project-details__files__button {
        margin-top: 80px;
    }
    .project-details__files__box {
        width: 86%;
        margin: 30px auto 0 auto;
        &__button,
        &__files {
            width: 100%;
        }
        &__files {
            padding-left: 0;

            text-align: center;
        }
    }

    .project-files-table--description,
    .all-projects-table--description {
        max-width: 82vw;
    }
}

@media (max-width: 566px) {
    .projects-list__projects,
    .project-details__templates__list {
        display: block;
    }
    .project {
        display: block;
        float: none;

        margin: 0 auto 40px auto;
    }
    .template,
    .project-details__templates__list .project-upload__box,
    .template-placeholder {
        display: block;

        margin: 0 auto 40px auto;
    }
}

@media (max-width: $breakpoint_portrait) {
    .menu__list {
        top: 60px;
    }
    .form-register__top-bars {
        margin-top: 30px;
    }
    .register-title .head__title {
        padding-left: 0;
    }
    .form-register,
    .form-login {
        width: 100%;
        padding: 0 15px;
    }
    .forms__content__item.form-active {
        left: 0;
        margin-left: 0;
    }

    //progress bar
    .project-details {
        &__progress__bar {
            width: 100%;
            height: 132px;
            margin: 0;
            padding-top: 35px;

            background: $color_red url('../img/bg-progress-m.jpg') right center no-repeat ;
            background-size: 100%;
            .project__details__progress {
                width: 78%;
                height: 10px;
                margin: 0 11%;

                background-color: $color_white;
                box-shadow: none;
                &__value {
                    background: $color_red url('../img/bg-progress-bar.jpg') center center repeat-x;
                }
                &__bar__title {
                    display: block;

                    width: 78%;
                    margin: 0 11%;
                    margin-bottom: 25px;

                    font-family: $font_roboto_light;
                    font-size: 22px;

                    color: $color_white;
                }
            }
        }
    }

    .project-details__info,
    .project-details__title,
    .project-details__progress__text {
        display: none;
    }
}
