/* ==========================================================================
   Tables
   ========================================================================== */
.project-table {
    .table-spacer {
        padding: 0;

        border: none;
        td {
            height: 10px;

            border: none;
        }
    }
}

.table-head-title {
    margin: 0;
    margin-bottom: 30px;

    font-family: $font_roboto_thin;
    font-size: 30px;
    font-weight: 300;

    color: $color_bg_project;
}

.project-table {
    width: 100%;

    font-size: 14px;

    border-collapse: separate;

    text-align: center;

    color: $color_black;
    td {
        overflow: hidden;

        height: 48px;

        font-weight: 300;

        transition: 200ms ease;
        text-overflow: ellipsis;
    }
    th {
        overflow: hidden;

        font-family: $font_roboto_bold;
        font-size: 10px;
        font-weight: 300;

        text-transform: uppercase;
        text-overflow: ellipsis;

        color: $color_black;
    }
    a {
        display: block;

        line-height: 42px;

        text-decoration: none;
    }
    &--description {
        padding: 0 20px;

        text-align: left;
        word-break: break-word;

        border: 1px solid $color_black;
        border-right: 0;
        &-head {
            padding-left: 20px;

            text-align: left;
        }
    }
    &--description-head {
        padding-left: 20px;

        text-align: left;
    }
}

.project-details-table {
    &--file-download {
        width: 130px;

        transition: 200ms ease;

        color: $color_white;
        border: 1px solid $color_red;
        background-color: $color_red;
        a {
            color: $color_white;
        }
        &:hover {
            border-color: $color_bg_project;
            background-color: $color_bg_project;
        }
    }
    &--number {
        width: 46px;

        border: 1px solid $color_black;
    }
    &--description {
        max-width: 500px;
        padding-right: 10px;
        padding-left: 20px;

        text-align: left;

        border-top: 1px solid $color_black;
        border-bottom: 1px solid $color_black;
    }
    &--extension {
        width: 76px;

        color: $color_white;
        background-color: $color_green;
    }
    &--extension-psd {
        border: 1px solid $color_blue;
        background-color: $color_blue;
    }
    &--extension-zip {
        border: 1px solid $color_violet;
        background-color: $color_violet;
    }
    &--size {
        width: 124px;

        border-top: 1px solid $color_black;
        border-bottom: 1px solid $color_black;
    }
    &--date {
        width: 178px;

        border-top: 1px solid $color_black;
        border-bottom: 1px solid $color_black;
    }
}

.project-files-table {
    font-size: 14px;
    &--description {
        max-width: 500px;
        padding: 0 20px;

        text-align: left;

        border: 1px solid $color_black;
        border-right: 0;
    }
    &--extension {
        color: $color_white;
        background-color: $color_green;
    }
    &--extension-psd {
        background-color: $color_blue;
    }
    &--extension-zip {
        background-color: $color_violet;
    }
    &--size {
        position: relative;

        width: 120px;
        padding-right: 14px;
    }
    &--size,
    &--date {
        border-top: 1px solid $color_black;
        border-bottom: 1px solid $color_black;
    }
    &--status-complete {
        color: $color_white;
        background-color: $color_green_status;
    }
    &--status-uploading {
        color: $color_white;
        background-color: $color_red;
    }
    &--status-queue {
        color: $color_white;
        background-color: $color_black;
    }
}

.project-files-table--size:after {
    position: absolute;
    top: 17px;
    right: 0;

    width: 12px;
    height: 12px;

    content: '';
    cursor: pointer;

    background: url('../img/ico-cancel.png') center center no-repeat;
}

.all-projects-table {
    margin-bottom: 50px;
    &--number {
        width: 46px;

        border: 1px solid $color_black;
    }
    &--description {
        max-width: 500px;
        padding-right: 10px;
        padding-left: 20px;

        text-align: left;

        border-top: 1px solid $color_black;
        border-bottom: 1px solid $color_black;
    }
    &--status {
        text-transform: uppercase;

        color: $color_white;
    }
    &--status-finished {
        background-color: $color_green;
    }
    &--status-new {
        background-color: $color_black;
    }
    &--status-rejected {
        background-color: $color_red;
    }
    &--status-qa {
        background-color: $color_blue;
    }
    &--status-progress {
        background-color: $color_violet;
    }
    &--date-start,
    &--date-end {
        width: 178px;

        border-top: 1px solid $color_black;
        border-bottom: 1px solid $color_black;
    }
    &--date-end {
        border-right: 1px solid $color_black;
    }
}
.project-details-table-m {
    &--number,
    &--description,
    &--actions,
    &--size,
    &--date,
    &--extension {
        margin: 0;
        padding-left: 15px;

        font-family: 'robotobold';
        font-size: 14px;

        text-align: left;
        text-transform: uppercase;

        color: inherit;
    }
    &--number {
        width: 15%;
        margin-top: 50px;
    }
    &--description {
        width: 85%;
        margin-top: 50px;
    }
    &--actions {
        width: 100%;

        text-align: center;
    }
}
.project-files-table-m {
    &--description,
    &--status,
    &--size,
    &--date,
    &--extension {
        margin: 0;
        padding-left: 15px;

        font-family: $font_roboto_bold;
        font-size: 14px;

        text-align: left;
        text-transform: uppercase;

        color: inherit;
    }
    &--description {
        margin-top: 50px;
    }
    &--description,
    &--status {
        width: 100%;
    }
    &--size,
    &--extension {
        width: 25%;
    }
    &--date {
        width: 50%;
        max-width: 50%;
    }
    &--status {
        padding-left: 0;

        text-align: center;
    }
}
.all-projects-table-m {
    &--date-start,
    &--date-end,
    &--description,
    &--number,
    &--status {
        margin: 0;

        font-family: $font_roboto_bold;
        font-size: 14px;

        text-align: left;
        text-transform: uppercase;

        color: inherit;
    }
    &--number {
        width: 15%;
        margin-top: 50px;
        padding-left: 15px;
    }
    &--description {
        width: 85%;
        margin-top: 50px;
        padding-left: 15px;
    }
    &--status {
        width: 100%;

        text-align: center;
    }
    &--date-start,
    &--date-end {
        width: 50%;

        text-align: center;
    }
}
